
@{
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Order ord = ViewBag.Listo;
}

<style>
        #confirmDROP{
            background-color:#ff9900; 
            border-color:#ff9900;
        }

         #confirmDROP:hover{
             background-color:#dc3545; 
            border-color:#dc3545;
            cursor:pointer;
        }

         #cnlDROP{
             background-color:#868686; 
             border-color:#868686
         }

         #cnlDROP:hover{
             background-color: #dedcdc;
            color: black;
            cursor:pointer;
         }

         #btn_dropItems{
             background-color:#ff9900; 
            border-color:#ff9900;
        }

         #btn_dropItems:hover{
             background-color:#c74000; 
            border-color:#c74000;
            cursor:pointer;
        }

    .table th, .table td {
        vertical-align:middle!important;
    }
    </style>

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="card-header pd-sm-bottom-30" style="background-color: #ffffff00; display:flex">
            <div style="width: 40%;">
                <h3 class="tx-gray-800 mg-b-5">Order Summary</h3>
            </div>
            
            @if (Session["UserID"] == null)
            {
                <div style="display: flex;justify-content: flex-end;width: 60%;">
                    <button style="margin-right: 20px;" type="button" data-toggle="modal" data-target="#modalInsert" class="Cursor btBuild btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Create order</button>
                    <div class="col-xs-4 col-md-4" style="">                        
                        <button disabled title="Massive order only available when you are logged in" id="btnLogo" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>                                                
                    </div>
                </div>

            }
            else
            {
                if (ViewBag.xUserDoors == null)
                {
                    <div style="display: flex;justify-content: flex-end;width: 60%;">
                        <button style="margin-right: 20px;" type="button" data-toggle="modal" data-target="#modalInsert" class="Cursor btBuild btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Create order</button>
                        <div class="col-xs-4 col-md-4" style="">
                            <button data-toggle="modal" data-target="#ModalUpload" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex;justify-content: flex-end;width: 60%;">
                        <button style="margin-right: 20px;" type="button" data-toggle="modal" data-target="#modalInsert" class="Cursor btBuild btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Build a door</button>
                        <div class="col-xs-4 col-md-4" style="">
                            <button data-toggle="modal" data-target="#ModalUpload" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>
                        </div>
                    </div>
                }

            }

        </div>

        <table id="idOrderSummary" class="table table-responsive mg-b-0 tx-12">
            <thead>
                <tr class="tx-10">
                    <th>Preview</th>
                    <th>Quantity</th>
                    <th>Widht</th>
                    <th>Height</th>
                    <th>Door Style</th>
                    <th>Material</th>
                    <th>Panel Type</th>
                    <th>Door Type</th>
                    <th>U. Price</th>
                    <th>Total</th>
                   
                    <th style="text-align:center"><i class="fa fa-flash"></i></th>
                </tr>
            </thead>
            <tbody class="odd" id="id-table">
                @if (Session["UserID"] == null)
                {
                    <tr class="odd">
                        <td valign="top" colspan="10" class="dataTables_empty">No data available in table. Log in to your account to see your active order or, click <a href="" class="btBuild" data-toggle="modal" data-target="#modalInsert">here</a> to create a door</td>
                    </tr>
                }
                else
                {
                    if (ViewBag.xUserDoors == null)
                    {
                        <tr class="odd">
                            <td valign="top" colspan="10" class="dataTables_empty">No data available in table. Click <a href="" class="btBuild"  data-toggle="modal" data-target="#modalInsert">here</a> to create a new door</td>
                        </tr>
                    }
                    else
                    {
                        foreach (Model.DoorsxUser i in ViewBag.xUserDoors)
                        {
                            decimal itemcost = (i.SubTotal / i.Quantity);
                            
                            <tr>
                                <td><img style="width: 80px;" src="@i.Picture"></td>
                                <td>@i.Quantity.ToString().Replace(',','.')</td>
                                <td>@i.Width.ToString("N0") <span>@i.DecimalsWidth.Description</span></td>
                                <td>@i.Height.ToString("N0") <span>@i.DecimalsHeight.Description</span></td>
                                <td>@i.DoorStyle.Description</td>
                                <td>@i.Material.Description</td>
                                <td>@i.Panel.Description</td>
                                <td>@i.DoorOption.Description</td>
                                <td><span>$</span>@i.ItemCost.ToString().Replace(',', '.')</td>
                                <td><span>$</span>@i.SubTotal.ToString().Replace(',', '.')</td>
                                

                                <td id="tddelete" style="display: flex; padding-top: 35px;">
                                    <button class="Cursor Details btn btn-primary btn-icon" data-toggle="modal" data-target="#modalInsert" data-id="@i.Id" style="width: 37px;height: 37px;" type="submit"><i class="fa fa-list"></i></button>
                                    <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 37px;height: 37px; margin-left: 10px;" type="submit"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>

        <div class="row" id="Resultados">
            @if (Session["UserID"] == null)
            {
                <div class="col-md-7">

                </div>
            }
            else
            {
                if (ord == null)
                {
                    <div class="col-md-7">
                        
                    </div>
                }
                else if(ord.Status.Id == 4 && ord.Total != 0)
                {
                    <input hidden id="idorder" value="@ord.Id" />
                    <input hidden id="idtotal" value="@ord.Total" />
                    <input hidden id="idstatus" value="@ord.Status.Id" />
                    <div class="col-md-7">
                        <h5 id="lblSubtotal" style="color:#7b7979">Sub-Total: <span>$</span>@ord.SubTotal.ToString().Replace(',', '.')</h5>
                        <h5 id="lblTax" style="color:#7b7979">Tax: <span>$</span>@ord.Tax.ToString().Replace(',', '.')</h5>
                        <h3 id="lblTotal" style="color:#000">Total Price: <span>$</span>@ord.Total.ToString().Replace(',', '.')</h3>
                    </div>
                }
                else
                {
                    <div class="col-md-7">

                    </div>
                }
            }
            @if (ViewBag.xUserDoors == null)
            {
                <div class="col-md-5">
                    <center style="text-align: right; margin-top: 20px;">                        
                        <button id="btn-continue" style="margin-left: 10px;" disabled type="submit" src="#" class="Cursor btn btn-primary" title="">Send order</button>
                    </center>
                </div>
            }
            else
            {

                <div class="col-md-5">
                    <center style="text-align: right; margin-top: 20px;">                        
                        <button id="btn-continue" style="margin-left: 10px;"  type="submit" src="#" class="Cursor btn btn-primary" title="">Send order</button>
                    </center>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Warning!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pd-20">
                <p class="mg-b-5">You are about to delete an article. What would you like to do?</p>
                <input id="deleteidhidden" type="hidden" value="" />
            </div>
            <div class="modal-footer justify-content-center">
                <button name="confirmButton" value="Delete" id="btnDelete" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Remove</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="ModalUpload" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Massive order!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pd-20">
                <p class="mg-b-5">Upload your excel file with your doors already configured. (Download our template by clicking <a href="~/Content/Template.xlsx">here</a> to use this method).</p>
                <input id="deleteidhidden" type="hidden" value="" />
            </div>
            <div class="modal-footer justify-content-rigth">
                <button id="btnupp" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Upload</button>
                <input id="File1" name="file" type="file" style="display:none;" />               
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 95%!important;max-width: 100%" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" id="btXclose" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                            
                            <div class="pd-xs-x-15 pd-y-10">
                            <div style="display:flex">
                                <h3 id="lblTitulo" class="tx-inverse  mg-b-5">Create a new door</h3>
                                <a style="margin-left: 20px;" title="Click here to modify the door" href="#" id="btModify" class="btn btn-primary btn-icon">
                                <div><i class="fa fa-edit"></i></div></a>
                                </div>                                
                                <p id="lblSubTitulo">Choose the the best door option that fit your needs.</p>
                                <div class="row" style="margin-right: 0;">
                                    <div class="col-md-12" style="padding-right:0">                                        
                                        <div style="display:flex; width:100%">
                                            <div class="row" style="width:80%; max-height: 350px; overflow-y:scroll">
                                                <input id="idDoor" hidden/>
                                                <div class="row" style="display:flex; width:100%">
                                                    <div class="col-xs-4 col-md-2">
                                                        <label for="Material" style="margin-top: 25px;">Wood Species: </label>
                                                        <select style="width:100%" class="eventChange form-control select2" id="cbMaterial" data-placeholder=""></select>
                                                    </div><!-- col -->
                                                    <div class="col-xs-3 col-md-3">
                                                        <label for="width" style="margin-top: 25px;">Width: </label>
                                                        <div style="display:flex">
                                                            <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptWidth form-control" type="number" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptWidth">
                                                            <select style="width:100%" class="form-control select2" id="cbDecimalsW">
                                                                
                                                            </select>
                                                        </div>
                                                    </div><!-- form-group -->
                                                    <div class="col-xs-3 col-md-3">
                                                        <label for="inDescription" style="margin-top: 25px;">Height: </label>
                                                        <div style="display:flex">
                                                            <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptHeight">
                                                            <select style="width:100%" class="form-control select2" id="cbDecimalsH">
                                                                
                                                            </select>
                                                        </div>
                                                    </div><!-- form-group -->

                                                    <div class="col-xs-3 col-md-4" style="display:flex; align-items:flex-end">      
                                                        <div class="radio" id="DivDoorOption" style="display:flex">
                                                            
                                                        </div>
                                                        </div><!-- form-group -->

                                                </div>
                                                <div class="row" style="width: 100%;">
                                                    <div class="col-xs-3 col-md-8">
                                                        <label for="inDescription" style="margin-top: 25px;"></label>
                                                        <div class="radio" id="isOverlay" style="display:flex">
                                                                                                                        
                                                        </div>                                                                                                              
                                                    </div><!-- form-group --> 
                                                </div>
                                                
                                                <div class="row" style="width: 100%;">
                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="DoorStyle" style="margin-top: 25px;">Door Style </label>
                                                        <select style="width:100%" class="eventChange form-control select2 Doors" id="cbDoorStyle" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="InsideEdgeProfile" style="margin-top: 25px;">Inside Edge Profile: </label>
                                                        <select style="width:100%" class="form-control select2 Profile Doors" id="cbInsideEdgeProfile" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="OutsideEdgeProfile" style="margin-top: 25px;">Outside Edge Profile: </label>
                                                        <select style="width:100%" class="form-control select2 Profile Doors" id="cbOutsideEdgeProfile" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="BottomRail" style="margin-top: 25px;">Stile Width: </label>
                                                        <select style="width:100%" class="eventChange form-control select2 Doors" id="cbStileWidth" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="TopRail" style="margin-top: 25px;">Rail Width:</label>
                                                        <select style="width:100%" class="eventChange form-control select2 Doors" id="cbRailWidth" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="Join" style="margin-top: 25px;">Door Assembly: </label>
                                                        <select style="width:100%" class="form-control select2 Doors" id="cbDoorAssembly" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="Panel" style="margin-top: 25px;">Panel Style: </label>
                                                        <select style="width:100%" class="form-control select2 Profile Doors" id="cbPanel" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="PanelMaterial" style="margin-top: 25px;">Panel Material: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbPanelMaterial" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="IsOpeningMeasurement" style="margin-top: 25px;">Opening for Glass: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbIsOpeningMeasurement" data-placeholder="">
                                                            <option value="0">Select</option>
                                                            <option value="1">No Opening </option>
                                                            <option value="2">Opening</option>
                                                        </select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="VerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbVerticalDivisions" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="HorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbHorizontalDivisions" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="isDrill" style="margin-top: 25px;">Hinge Drilling: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbisDrill" data-placeholder="">
                                                            <option value="0">Select</option>
                                                            <option value="1">No Drill</option>
                                                            <option value="2">Drill</option>
                                                        </select>
                                                    </div><!-- col -->

                                                    <div id="HingeDirectionDiv" style="display:none" class="target col-xs-4 col-md-3">
                                                        <label for="HingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                                                        <select style="width:100%" value="true" class="select2 form-control" id="cbHingeDirection" data-placeholder="">                                                            
                                                        </select>
                                                    </div><!-- col -->

                                                    <div id="HingePositionsDiv" style="display:none" class="target col-xs-4 col-md-3">
                                                        <input id="idHingeP" hidden />
                                                        <label for="HingePositions" value="true" style="margin-top: 25px;">Hinge Positions: </label>
                                                        <div style="display:flex"><span class="hp1">1: </span><input id="HP1" disabled class="form-control HPinpt1 hp1" /><span class="hp2">2: </span><input id="HP2" disabled class="form-control HPinpt2 hp2" /><span class="hp3">3: </span><input id="HP3" disabled class="form-control HPinpt3 hp3" /><span class="hp4">4: </span><input id="HP4" disabled class="form-control HPinpt4 hp4" /><span class="hp5">5: </span><input id="HP5" disabled class="form-control HPinpt5 hp5" /></div>
                                                    </div><!-- col -->
                                                    
                                                    <div class="col-xs-3 col-md-3">
                                                        <label for="DoorType" style="margin-top: 25px;">Door Type: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbDoorType"></select>
                                                    </div><!-- form-group -->
                                                    
                                                    <div class="col-xs-3 col-md-3">
                                                        <label for="FingerPull" style="margin-top: 25px;">Finger Pull: </label>
                                                        <select style="width:100%" class="form-control select2" id="cbFingerPull">
                                                            <option value="0">Select</option>
                                                            <option value="1">No</option>
                                                            <option value="2">Yes</option>
                                                        </select>
                                                    </div><!-- form-group -->
                                                </div>                                                
                                            </div> 
                                            
                                            <div class="row" style="width:20%" id="ModalIMG">

                                                <div id="Picture" class="row" style="margin-right: 0px;">
                                                    <center>
                                                        <img style="height: 100px;width: 235px;margin-top: 20px;" id="ProfilePicture" src="~/Content/img/Profile/img11.png" />
                                                        <img style="width: 230px;height: 230px;" id="DoorPicture" src="~/Content/img/Doors/img11.png">
                                                    </center>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer">
                                <div style="width: 50%; display: flex; justify-content: flex-start; align-items: center;">                                    
                                    <div class="col-xs-3 col-md-3">
                                        <label for="iptQuantity">Quantity: </label>
                                        <input name="iptQuantity" type="number" style="width: 52%;" required class="required RequiereLlenar form-control" maxlength="3" minlength="1" ninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptQuantity">
                                    </div><!-- form-group -->

                                    <div class="col-xs-4 col-md-4">
                                        <label for="cost">Item cost: </label>
                                        <div class="input-group">
                                            <span class="input-group-addon tx-size-sm lh-2">$</span>
                                            <input class="form-control" disabled id="iptCost">
                                            <span class="input-group-addon tx-size-sm lh-2">Cost/ea</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div style="width: 50%; display: flex;justify-content: flex-end;">
                                    <button id="btConfAdd" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Add to cart</button>
                                    <button id="btConfSave" type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save</button>
                                    <button type="button" id="btnCancel" style="margin-left:10px" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                                </div>                                
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
        var urlGetAllMaterial = '@Url.Action("GetAllMaterial", "ConfiDoor")';
        var urlGetAllDoorStyle = '@Url.Action("GetAllDoorStyle", "ConfiDoor")';
        var urlGetAllInsideEdgeProfile = '@Url.Action("GetAllInsideEdgeProfile", "ConfiDoor")';
        var urlGetAllOutsideEdgeProfile = '@Url.Action("GetAllOutsideEdgeProfile", "ConfiDoor")';
        var urlGetAllBottomRail = '@Url.Action("GetAllBottomRail", "ConfiDoor")';
        var urlGetAllTopRail = '@Url.Action("GetAllTopRail", "ConfiDoor")';
        var urlGetAllJoin = '@Url.Action("GetAllJoin", "ConfiDoor")';
        var urlGetAllPreparation = '@Url.Action("GetAllPreparation", "ConfiDoor")';
        var urlGetAllPanel = '@Url.Action("GetAllPanel", "ConfiDoor")';
        var urlGetAllPanelMaterial = '@Url.Action("GetAllPanelMaterial", "ConfiDoor")';
        var urlGetAllVerticalDivisions = '@Url.Action("GetAllVerticalDivisions", "ConfiDoor")';
        var urlGetAllHorizontalDivisions = '@Url.Action("GetAllHorizontalDivisions", "ConfiDoor")';
        var urlGetAllHingePositions = '@Url.Action("GetAllHingePositions", "ConfiDoor")';
        var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "ConfiDoor")';
        var urlGetAllDoorType = '@Url.Action("GetAllDoorType", "ConfiDoor")';
        var urlGetAllDoorOption = '@Url.Action("GetAllDoorOption", "ConfiDoor")';
        var urlGetAllDecimals = '@Url.Action("GetAllDecimals", "ConfiDoor")';
        var urlInsertDoorsxUser = '@Url.Action("InsertDoorsxUser", "ConfiDoor")';
        var urlUpdateDoorsxUser = '@Url.Action("UpdateDoorsxUser", "ConfiDoor")';
        var urlGetPrices = '@Url.Action("GetPrices", "ConfiDoor")';
        var urlUploadExcel = '@Url.Action("UploadExcel", "ConfiDoor")';
        var urlDeleteItem = '@Url.Action("DeleteItem", "OrderSummary")';
        var urlConfirmOrder = '@Url.Action("ConfirmOrder", "OrderSummary")';
        var urlValidateSession = '@Url.Action("ValidateSession", "OrderSummary")';
        var urlGetOrderSumary = '@Url.Action("GetOrderSumary", "OrderSummary")';
        
        try {
            var listDOOR = JSON.parse('@Html.Raw(ViewBag.ListDoorsxUser)');
        } catch (e) {
            var listDOOR = '';
        }

        var doorDetail = JSON.parse('@Html.Raw(ViewBag.Door)');

        $(function () {
            'use strict'

            $('.form-layout .form-control').on('focusin', function () {
                $(this).closest('.form-group').addClass('form-group-active');
            });

            $('.form-layout .form-control').on('focusout', function () {
                $(this).closest('.form-group').removeClass('form-group-active');
            });

            // Select2
            $('#select2-a, #select2-b').select2({
                minimumResultsForSearch: Infinity
            });

            $('#select2-a').on('select2:opening', function (e) {
                $(this).closest('.form-group').addClass('form-group-active');
            });

            $('#select2-a').on('select2:closing', function (e) {
                $(this).closest('.form-group').removeClass('form-group-active');
            });

        });



    </script>


@Scripts.Render("~/Scripts/js/OrderSumm.js")
@Scripts.Render("~/Scripts/js/envio.js")
@Scripts.Render("~/Scripts/js/ConfigDoor.Index.js")
@Scripts.Render("~/Scripts/js/OrderSummary.ConfigDoor.js")
<script src="~/Content/lib/select2/js/select2.min.js"></script>
<script src="~/Content/lib/select2/js/select2.full.min.js"></script>
}


