
@{
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Order ord = ViewBag.Listo;
}

<style>
        #confirmDROP{
            background-color:#ff9900; 
            border-color:#ff9900;
        }

         #confirmDROP:hover{
             background-color:#dc3545; 
            border-color:#dc3545;
            cursor:pointer;
        }

         #cnlDROP{
             background-color:#868686; 
             border-color:#868686
         }

         #cnlDROP:hover{
             background-color: #dedcdc;
            color: black;
            cursor:pointer;
         }

         #btn_dropItems{
             background-color:#ff9900; 
            border-color:#ff9900;
        }

         #btn_dropItems:hover{
             background-color:#c74000; 
            border-color:#c74000;
            cursor:pointer;
        }
    </style>

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="card-header pd-sm-bottom-30" style="background-color: #ffffff00;">
            <h4 class="tx-gray-800 mg-b-5">Order Summary</h4>
            @if (ViewBag.xUserDoors == null)
            {
                
            }
            else
            {
                <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
            }

        </div>

        <table id="idOrderSummary" class="table table-responsive mg-b-0 tx-12">
            <thead>
                <tr class="tx-10">
                    <th>Preview</th>
                    <th>Name a Door</th>
                    <th>Outside profile</th>
                    <th>Inside profile</th>
                    <th>Flat Panel</th>
                    <th>Quantity</th>
                    <th>Sub-Total</th>
                    <th>Tax</th>
                    <th>Total</th>
                    <th>Delete item</th>
                </tr>
            </thead>
            <tbody id="id-table">
                @if (Session["UserID"] == null)
                {

                }
                else
                {
                    if (ViewBag.xUserDoors == null)
                    {

                    }
                    else
                    {
                        foreach (Model.DoorsxUser i in ViewBag.xUserDoors)
                        {
                            
                            <tr>
                                <td><img src="@i.Picture"></td>
                                <td>@i.Material.Description</td>
                                <td>@i.OutsideEdgeProfile.Description</td>
                                <td>@i.InsideEdgeProfile.Description</td>
                                <td>@i.PanelMaterial.Description</td>
                                <td>@i.Quantity</td>
                                <td>@i.SubTotal $</td>
                                <td>8.25%</td>
                                <td>$</td>
                                <td id="tddelete">
                                    <button class="btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 37px;height: 37px;" type="submit"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>

        <div class="row">
            @if (Session["UserID"] == null)
            {
                <div class="col-md-7">

                </div>
            }
            else
            {
                if (ord.Status == null)
                {
                    <div class="col-md-7">
                        
                    </div>
                }
                else if(ord.Status.Id == 1 && ord.Total != 0)
                {
                    <div class="col-md-7">
                        <h3 style="color:#000">Total Price: @ord.Total $</h3>
                    </div>
                }
                else
                {
                    <div class="col-md-7">

                    </div>
                }
            }
            @if (ViewBag.xUserDoors == null)
            {
                <div class="col-md-5" style="display:flex; justify-content:flex-end">
                    <h3 style="color:red">No items</h3><button id="btn_carrito" onclick="location.href='@Url.Action("Index","ConfiDoor")'" style="margin-left: 25px;" type="button" src="#" class="btn btn-success" title="">Build a Door</button>                     
                </div>
            }
            else
            {
               
                <div class="col-md-5">
                    <center>
                        <button id="btn_dropItems" type="submit" class="btn btn-danger" title="">Delete all items</button>
                        <button id="btn_carrito" style="margin-left: 10px;" type="button" onclick="location.href='@Url.Action("Index","ConfiDoor")'" class="btn btn-success" title="">Build a Door</button>
                        <button id="btn-continue" style="margin-left: 10px;" onclick="this.disabled = true; ConverExcel('idOrderSummary', 'W3C Example Table')" type="submit" src="#" class="btn btn-primary" title="">Continue</button>
                    </center>
                </div>
            }
        </div>
    </div>
</div>

<div id="modalCongra" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" onclick="window.location.reload()" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<div id="modalError" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger  tx-semibold mg-b-20">Error: Cannot process your entry!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<div id="modalConfirmDeleteAll" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button><ion-icon name="alert"></ion-icon>
                <i id="alerticon"style="color:#ff9900" class="ion-alert tx-100 lh-1 mg-t-20 d-inline-block"></i>
                <h4 id="alertmessage" style="color:#ff9900"class="tx-semibold mg-b-20">This option is going to delete all your items </h4>
                <p class="mg-b-20 mg-x-20">Are you sure you want that?</p>                
                <button id="cnlDROP" type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Cancel
                </button>
                <button id="confirmDROP"  type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div id="modalCongra" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" onclick="window.location.reload()" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<div id="modalError" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger  tx-semibold mg-b-20">Error: Cannot process your entry!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#confirmDROP").mouseover(function () {
                $("#alerticon").css("color", "#dc3545");
                $("#alertmessage").css("color", "#dc3545");
            });

            $("#confirmDROP").mouseout(function () {
                $("#alerticon").css("color", "#ff9900");
                $("#alertmessage").css("color", "#ff9900");
            });
        });
    </script>

    <script type="text/javascript">
        var urlDeleteItem = '@Url.Action("DeleteItem", "OrderSummary")';
        var urlConfirmOrder = '@Url.Action("ConfirmOrder", "OrderSummary")';
        var urlDropItems = '@Url.Action("DropOrder", "OrderSummary")';
    </script>

    @Scripts.Render("~/Scripts/js/OrderSumm.js")
    @Scripts.Render("~/Scripts/js/ConverExcel.js")
    @Scripts.Render("~/Scripts/js/envio.js")
}
