
@{
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Order ord = null;
    Model.DoorsxUser LastDoor = null;
    if (ViewBag.Order != null)
    {
         ord = ViewBag.Order;
         LastDoor = ViewBag.Order.DoorxUser;
    }

}

<style>
        #confirmDROP{
            background-color:#ff9900; 
            border-color:#ff9900;
        }

         #confirmDROP:hover{
             background-color:#dc3545; 
            border-color:#dc3545;
            cursor:pointer;
        }

         #cnlDROP{
             background-color:#868686; 
             border-color:#868686
         }

         #cnlDROP:hover{
             background-color: #dedcdc;
            color: black;
            cursor:pointer;
         }

         #btn_dropItems{
             background-color:#ff9900; 
            border-color:#ff9900;
        }

         #btn_dropItems:hover{
             background-color:#c74000; 
            border-color:#c74000;
            cursor:pointer;
        }        

    .table th, .table td {
        vertical-align:middle!important;
    }

    #HeaderOptions label span {
        color:#868ba1;
    }
    </style>

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper" style="padding: 35px 60px 60px 60px;">
        <div class="card-header pd-sm-bottom-30" style="background-color: #ffffff00; display:flex">
            <div style="width: 40%;">
                <h3 class="tx-gray-800 mg-b-5">Order Summary</h3>
            </div>

            @if (Session["UserID"] == null)
            {
                <div style="display: flex;justify-content: flex-end;width: 60%;">
                    <button disabled style="margin-right: 20px;" type="button" data-toggle="modal" data-target="#modalInsert" class="Cursor btBuild btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Config door</button>
                    <div class="col-xs-4 col-md-4" style="">
                        <button disabled title="Massive order only available when you are logged in" id="btnLogo" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>
                    </div>
                </div>
            }
            else
            {
                if (LastDoor == null)
                {
                    <div style="display: flex;justify-content: flex-end;width: 60%;">
                        <button style="margin-right: 20px;" type="button" data-toggle="modal" id="btnConfigDoor" data-target="#modalInsert" class="Cursor btBuild btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Config door</button>
                        <div class="col-xs-4 col-md-4" style="">
                            <button data-toggle="modal" data-target="#ModalUpload" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>
                        </div>
                    </div>
                }
                else
                {
                    <div style="display: flex;justify-content: flex-end;width: 60%;">
                        <button style="margin-right: 20px;" type="button" data-toggle="modal" data-target="#modalInsert" data-id="@LastDoor.Id" class="Cursor ModDoorxUser btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Config door</button>
                        <div class="col-xs-4 col-md-4" style="">
                            <button data-toggle="modal" data-target="#ModalUpload" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Massive Order</button>
                        </div>
                    </div>
                }

            }
        </div>
        @if (LastDoor != null)
            {
            <div id="HeaderOptions" style="color:#000;margin-top: 15px;margin-right: 0;" class="row">
                <div class="col-xs-4 col-md-3">
                    <label id="Material" style="margin-top: 25px;">Wood Species: <span>@LastDoor.Material.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label id="DoorStyle" style="margin-top: 25px;">Door Style: <span>@LastDoor.DoorStyle.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    @if (LastDoor.isOverlay == false)
                    {
                        <label for="Overlay" style="margin-top: 25px;">Door Place: <span>Inset Door Type</span></label>
                    }
                    else
                    {
                        <label for="Overlay" style="margin-top: 25px;">Door Place: <span>Overlay Door Type</span></label>
                    }
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="InsideProfile" style="margin-top: 25px;">Inside Edge Profile: <span>@LastDoor.InsideEdgeProfile.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="OutsideProfile" style="margin-top: 25px;">Outside Edge Profile: <span>@LastDoor.OutsideEdgeProfile.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="StileWidth" style="margin-top: 25px;">Stile Width: <span>@LastDoor.BottomRail.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="RailWidth" style="margin-top: 25px;">Rail Width: <span>@LastDoor.TopRail.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="DoorAssembly" style="margin-top: 25px;">Door Assembly: <span>@LastDoor.Join.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="PanelStyle" style="margin-top: 25px;">Panel Style: <span>@LastDoor.Panel.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="PanelMaterial" style="margin-top: 25px;">Panel Material: <span>@LastDoor.PanelMaterial.Description</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    @if (LastDoor.IsOpeningMeasurement == false)
                    {
                        <label for="Openeing" style="margin-top: 25px;">Opening Measurement: <span>No</span></label>
                    }
                    else
                    {
                        <label for="Openeing" style="margin-top: 25px;">Opening Measurement: <span>Yes</span></label>
                    }
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    <label for="VerticalD" style="margin-top: 25px;">Vertical Divisions: <span>@LastDoor.VerticalDivisions.Quantity</span></label>
                </div><!-- col -->
                
                <div class="col-xs-4 col-md-3">
                    <label for="HorizontalD" style="margin-top: 25px;">Horizontal Divisions: <span>@LastDoor.HorizontalDivisions.Quantity</span></label>
                </div><!-- col -->

                <div class="col-xs-4 col-md-3">
                    @if (LastDoor.isDrill == false)
                    {
                        <label for="Drill" style="margin-top: 25px;">Hinge Drilling: <span>No</span></label>
                        <input id="idDrill" hidden value="1" />
                    }
                    else
                    {
                        <label for="Drill" style="margin-top: 25px;">Hinge Drilling: <span>Yes</span></label>
                        <input id="idDrill" hidden value="2"/>
                    }
                </div><!-- col -->
               
                <div class="col-xs-4 col-md-3">
                    @if (LastDoor.isFingerPull == false)
                    {
                        <label for="Finger" style="margin-top: 25px;">Finger Pull: <span>No</span></label>
                    }
                    else
                    {
                        <label for="Finger" style="margin-top: 25px;">Finger Pull: <span>Yes</span></label>
                    }
                </div><!-- col -->

            </div>
        }
        else
        {
            <div id="HeaderOptions" style="color:#000;margin-top: 15px;" class="row">

            </div>
        }
                <div id="dxoDiv" class="row" style="display:flex; width:100%;border-bottom: #dee2e6 solid 1px; padding-bottom:8px;border-top: #dee2e6 solid 1px;margin-bottom: 15px;">
                    <input id="idDoorxOrder" value="" hidden/>
                    <div class="col-xs-1 col-md-1">
                        <label for="Material" style="margin-top: 25px;">Quantity: </label>
                        <input style="width:100%!important" name="SoloNumeros" required class="required RequiereLlenar form-control" type="number" maxlength="2" min="1" id="CantidadFila">
                    </div><!-- col -->
                    <div class="col-xs-2 col-md-2">
                        <label for="width" style="margin-top: 25px;">Width: </label>
                        <div>
                            <div style="display:flex">
                                <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptWidth form-control" type="number" min="1" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptWidth">
                                <select style="width:50%!important" class="form-control select2" id="cbDecimalsW"></select>
                            </div>
                            <label id="alertWidth" style="Color:red; font-size:10px; display:none;margin:0"></label>
                        </div>
                    </div><!-- form-group -->
                    <div class="col-xs-2 col-md-2">
                        <label for="inDescription" style="margin-top: 25px;">Height: </label>
                        <div>
                            <div style="display:flex">
                                <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" min="1" maxlength="3" max="100" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptHeight">
                                <select style="width:50%!important" class="form-control select2" id="cbDecimalsH"></select>
                            </div>
                            <label id="alertHeight" style="Color:red; font-size:10px; margin:0"></label>
                        </div>
                    </div><!-- form-group -->                    
                  @if (ord != null)
                  {
                      if (LastDoor.isDrill == true)
                      {
                        <div id="HingeDirectionDiv" class="target col-xs-4 col-md-2">
                            <label for="HingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                            <select style="width:100%" value="true" class="select2 form-control" id="cbHingeDirection" data-placeholder=""></select>
                        </div><!-- col -->
                      }
                      else
                      {
                        <div id="HingeDirectionDiv" style="display:none" class="target col-xs-4 col-md-2">
                            <label for="HingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                            <select style="width:100%" value="true" class="select2 form-control" id="cbHingeDirection" data-placeholder=""></select>
                        </div><!-- col -->
                      }
                  }                    
                    
                    <div class="col-xs-2 col-md-2">
                        <label for="DoorType" style="margin-top: 25px;">Door Type: </label>
                        <select style="width:100%" class="form-control select2" id="cbDoorType"></select>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <label for="DoorType" style="margin-top: 25px;">Door Option</label>
                        <select style="width:100%" class="form-control select2" id="cbDoorOpt"></select>
                    </div>
                    <div class="col-xs-1 col-md-1" id="btInsertDoorTable">
                        @if (ord != null)
                        {
                            <button id="dxoAdd" class="Cursor btn btn-success btn-icon AddDoor" title=""  type="button" style="margin-top: 55px;"><div><i class="fa fa-plus"></i></div></button>
                            <button id="dxoSave" class="Cursor btn btn-success btn-icon SaveDoor" title="" type="button" style="margin-top: 55px; display:none"><div><i class="fa fa-check"></i></div></button>
                        }
                        else
                        {
                            <button class="Cursor btn btn-success btn-icon btBuild" data-toggle="modal" data-target="#modalInsert" style="margin-top: 55px;" type="button"><div><i class="fa fa-plus"></i></div></button>
                        }

                    </div>   <!-- form-group -->

                </div>
                <div class="table-wrapper">
                    <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                     
                            @if (LastDoor != null)
                            {
                                if (LastDoor.isDrill == true)
                                {
                                    <div id="datatab1"  style="display:none" >
                                        <table id="tbOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                            <thead>
                                                <tr class="tx-10" id="theadtr">
                                                    <th>Preview</th>
                                                    <th>Quantity</th>
                                                    <th>Widht</th>
                                                    <th>Height</th>
                                                    <th>Door Type</th>
                                                    <th>Door Option</th>
                                                    <th>U. Price</th>
                                                    <th>Total</th>
                                                    <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody class="odd" id="id-table">
                                                @if (Session["UserID"] == null)
                                                {

                                                }
                                                else
                                                {
                                                    if (ViewBag.Order == null || LastDoor.DoorsxOrder.Count == 0)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        foreach (Model.DoorxOrder i in LastDoor.DoorsxOrder)
                                                        {
                                                <tr>
                                                    <td><img style="width: 80px;" src="@i.Picture"></td>
                                                    <td>@i.Quantity.ToString().Replace(',', '.')</td>
                                                    <td>
                                                        @i.Width.ToString("N0")
                                                        @if (i.DecimalsWidth.Value != 0)
                                                        {
                                                    <span>@i.DecimalsWidth.Description</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @i.Height.ToString("N0")
                                                        @if (i.DecimalsHeight.Value != 0)
                                                        {
                                                    <span>@i.DecimalsHeight.Description</span>
                                                        }
                                                    </td>

                                                    <td>@i.DoorType.Description</td>
                                                    <td>@i.DoorOption.Description</td>
                                                    <td><span>$</span>@i.ItemCost.ToString().Replace(',', '.')</td>
                                                    <td><span>$</span>@i.SubTotal.ToString().Replace(',', '.')</td>


                                                    <td id="tddelete" style="display: flex;">
                                                        <center>
                                                            <button class="Cursor btn btn-primary btn-icon btnn-edit" data-id="@i.Id" style="width: 25px;height: 25px;" type="submit"><i class="fa fa-edit"></i></button>
                                                            <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 25px;height: 25px; margin-left: 10px;" type="submit"><i class="fa fa-trash"></i></button>
                                                        </center>

                                                    </td>
                                                </tr>

                                                        }

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div id="datatab2"  >
                                        <table id="idOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                            <thead>
                                                <tr class="tx-10" id="theadtr">
                                                    <th>Preview</th>
                                                    <th>Quantity</th>
                                                    <th>Widht</th>
                                                    <th>Height</th>

                                                    <th>Hinge Dir.</th>


                                                    <th>Door Type</th>
                                                    <th>Door Option</th>
                                                    <th>U. Price</th>
                                                    <th>Total</th>
                                                    <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody class="odd" id="id-table">
                                                @if (Session["UserID"] == null)
                                                {

                                                }
                                                else
                                                {
                                                    if (ViewBag.Order == null || LastDoor.DoorsxOrder.Count == 0)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        foreach (Model.DoorxOrder i in LastDoor.DoorsxOrder)
                                                        {
                                                <tr>
                                                    <td><img style="width: 80px;" src="@i.Picture"></td>
                                                    <td>@i.Quantity.ToString().Replace(',', '.')</td>
                                                    <td>
                                                        @i.Width.ToString("N0")
                                                        @if (i.DecimalsWidth.Value != 0)
                                                        {
                                                        <span>@i.DecimalsWidth.Description</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @i.Height.ToString("N0")
                                                        @if (i.DecimalsHeight.Value != 0)
                                                        {
                                                        <span>@i.DecimalsHeight.Description</span>
                                                        }
                                                    </td>
                                                    <td>@i.HingeDirection.Direction</td>


                                                    <td>@i.DoorType.Description</td>
                                                    <td>@i.DoorOption.Description</td>
                                                    <td><span>$</span>@i.ItemCost.ToString().Replace(',', '.')</td>
                                                    <td><span>$</span>@i.SubTotal.ToString().Replace(',', '.')</td>


                                                    <td id="tddelete" style="display: flex;">
                                                        <center>
                                                            <button class="Cursor btn btn-primary btn-icon btnn-edit" data-id="@i.Id" style="width: 25px;height: 25px;" type="submit"><i class="fa fa-edit"></i></button>
                                                            <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 25px;height: 25px; margin-left: 10px;" type="submit"><i class="fa fa-trash"></i></button>
                                                        </center>

                                                    </td>
                                                </tr>

                                                        }

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else {
                                        <div id="datatab1" >
                                            <table id="tbOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                                <thead>
                                                    <tr class="tx-10" id="theadtr">
                                                        <th>Preview</th>
                                                        <th>Quantity</th>
                                                        <th>Widht</th>
                                                        <th>Height</th>
                                                        <th>Door Type</th>
                                                        <th>Door Option</th>
                                                        <th>U. Price</th>
                                                        <th>Total</th>
                                                        <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="odd" id="id-table">
                                                    @if (Session["UserID"] == null)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.Order == null || LastDoor.DoorsxOrder.Count == 0)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            foreach (Model.DoorxOrder i in LastDoor.DoorsxOrder)
                                                            {
                                                                <tr>
                                                                    <td><img style="width: 80px;" src="@i.Picture"></td>
                                                                    <td>@i.Quantity.ToString().Replace(',', '.')</td>
                                                                    <td>
                                                                        @i.Width.ToString("N0")
                                                                        @if (i.DecimalsWidth.Value != 0)
                                                                        {
                                                                            <span>@i.DecimalsWidth.Description</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @i.Height.ToString("N0")
                                                                        @if (i.DecimalsHeight.Value != 0)
                                                                        {
                                                                            <span>@i.DecimalsHeight.Description</span>
                                                                        }
                                                                    </td>

                                                                    <td>@i.DoorType.Description</td>
                                                                    <td>@i.DoorOption.Description</td>
                                                                    <td><span>$</span>@i.ItemCost.ToString().Replace(',', '.')</td>
                                                                    <td><span>$</span>@i.SubTotal.ToString().Replace(',', '.')</td>


                                                                    <td id="tddelete" style="display: flex;">
                                                                        <center>
                                                                            <button class="Cursor btn btn-primary btn-icon btnn-edit" data-id="@i.Id" style="width: 25px;height: 25px;" type="submit"><i class="fa fa-edit"></i></button>
                                                                            <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 25px;height: 25px; margin-left: 10px;" type="submit"><i class="fa fa-trash"></i></button>
                                                                        </center>

                                                                    </td>
                                                                </tr>

                                                            }

                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                            <div id="datatab2"  style="display:none" >
                                                <table id="idOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                                    <thead>
                                                        <tr class="tx-10" id="theadtr">
                                                            <th>Preview</th>
                                                            <th>Quantity</th>
                                                            <th>Widht</th>
                                                            <th>Height</th>
                                                            @if (ord != null)
                                                            {
                                                                if (LastDoor.isDrill == true)
                                                                {
                                                                    <th>Hinge Dir.</th>
                                                                }
                                                                else
                                                                {
                                                                    <th class="hdHidden">Hinge Dir.</th>
                                                                }
                                                            }
                                                            <th>Door Type</th>
                                                            <th>Door Option</th>
                                                            <th>U. Price</th>
                                                            <th>Total</th>
                                                            <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="odd" id="id-table">
                                                        @if (Session["UserID"] == null)
                                                        {

                                                        }
                                                        else
                                                        {
                                                            if (ViewBag.Order == null || LastDoor.DoorsxOrder.Count == 0)
                                                            {

                                                            }
                                                            else
                                                            {
                                                                foreach (Model.DoorxOrder i in LastDoor.DoorsxOrder)
                                                                {
                                                                    <tr>
                                                                        <td><img style="width: 80px;" src="@i.Picture"></td>
                                                                        <td>@i.Quantity.ToString().Replace(',', '.')</td>
                                                                        <td>
                                                                            @i.Width.ToString("N0")
                                                                            @if (i.DecimalsWidth.Value != 0)
                                                                            {
                                                                                <span>@i.DecimalsWidth.Description</span>
                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @i.Height.ToString("N0")
                                                                            @if (i.DecimalsHeight.Value != 0)
                                                                            {
                                                                                <span>@i.DecimalsHeight.Description</span>
                                                                            }
                                                                        </td>
                                                                        @if (LastDoor.isDrill == true)
                                                                        {
                                                                            <td>@i.HingeDirection.Direction</td>
                                                                        }
                                                                        else {
                                                                            <td class="hdHidden">@i.HingeDirection.Direction</td>
                                                                        }

                                                                        <td>@i.DoorType.Description</td>
                                                                        <td>@i.DoorOption.Description</td>
                                                                        <td><span>$</span>@i.ItemCost.ToString().Replace(',', '.')</td>
                                                                        <td><span>$</span>@i.SubTotal.ToString().Replace(',', '.')</td>


                                                                        <td id="tddelete" style="display: flex;">
                                                                            <center>
                                                                                <button class="Cursor btn btn-primary btn-icon btnn-edit" data-id="@i.Id" style="width: 25px;height: 25px;" type="submit"><i class="fa fa-edit"></i></button>
                                                                                <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 25px;height: 25px; margin-left: 10px;" type="submit"><i class="fa fa-trash"></i></button>
                                                                            </center>

                                                                        </td>
                                                                    </tr>

                                                                }

                                                            }

                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                }
                            }
                            else {
                                <div id="datatab1">
                                    <table id="tbOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                        <thead>
                                            <tr class="tx-10" id="theadtr">
                                                <th>Preview</th>
                                                <th>Quantity</th>
                                                <th>Widht</th>
                                                <th>Height</th>
                                                <th>Door Type</th>
                                                <th>Door Option</th>
                                                <th>U. Price</th>
                                                <th>Total</th>
                                                <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                            </tr>
                                        </thead>
                                       
                                    </table>
                                </div>
                                        <div id="datatab2" style="display:none">
                                            <table id="idOrderSummary" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                                                <thead>
                                                    <tr class="tx-10" id="theadtr">
                                                        <th>Preview</th>
                                                        <th>Quantity</th>
                                                        <th>Widht</th>
                                                        <th>Height</th>
                                                        @if (ord != null)
                                                        {
                                                            if (LastDoor.isDrill == true)
                                                            {
                                                                <th>Hinge Dir.</th>
                                                            }
                                                            else
                                                            {
                                                                <th class="hdHidden">Hinge Dir.</th>
                                                            }
                                                        }
                                                        <th>Door Type</th>
                                                        <th>Door Option</th>
                                                        <th>U. Price</th>
                                                        <th>Total</th>
                                                        <th style="text-align:center"><i class="fa fa-flash"></i></th>
                                                    </tr>
                                                </thead>
                                              
                                            </table>
                                        </div>
                            }

</div>
                </div><!-- table-wrapper -->

                <div class="row" style="margin-top: 10px;margin-right: 0px;">
                    @if (Session["UserID"] == null)
                    {
                        <div style="width:100%">
                            <div id="Resultados" style="text-align: right; margin-top: 10px;">

                            </div>
                        </div>
                    }
                    else
                    {
                        if (ord == null)
                        {
                            <div class="row" style="width:100%;  margin-top: 10px;">
                                <div class="col-md-8" style="display:flex; width:100%;">
                                    <div class="col-xs-3 col-md-12">
                                        <label for="Observations" style="margin-top: 25px;">Observations: <i style="cursor: help" class="fa fa-info-circle" title="Here you can add an observation about this order. This note will be saved when confirming your order"></i></label>
                                        <textarea type="text" rows="4" id="inObservations" class="form-control" placeholder="Observations..."></textarea>
                                    </div><!-- form-group -->
                                    <div class="col-xs-4 col-md-4" style="display:none;">
                                        <label for="ShipppingAddress" style="margin-top: 25px;">Shipping Address: <i class="Cursor fa fa-info-circle" title="If you want to send your doors select one of your shipping addresses or create a new one. (The delivery has an additional cost)."></i></label><div></div>
                                        <select style="width:100%" class="eventChange form-control select2" id="cbShippingAddress" data-placeholder=""></select>
                                        <p>The delivery has an additional cost</p>
                                    </div><!-- col -->
                                    <div class="col-xs-4 col-md-1" style="display:none;">
                                        <button style="margin-top: 55px;" type="button" data-toggle="modal" title="Add a new shipping address" data-target="#ModalAddSA" class="Cursor btnModalSA btn btn-success tx-11 pd-y-12 pd-x-25 tx-mont tx-medium">Add</button>
                                    </div><!-- col -->
                                </div>        
                                <div class="col-md-4" id="Resultados" style="text-align: right;right;margin-top: 55px;padding-right: 0px;">

                                </div>
                                                      
                            </div>
                        }
                        else if (ord.Status.Id == 4)
                        {
                                <div  class="col-md-8" style="display:flex; width:100%;">
                                    <div class="col-xs-3 col-md-12">
                                        <label for="Observations" style="margin-top: 25px;">Observations: <i class="Cursor fa fa-info-circle" title="Here you can add an observation about this order. This note will be saved when confirming your order"></i></label>
                                        <textarea type="text" rows="4" id="inObservations" class="form-control" placeholder="Observations..."></textarea>
                                    </div><!-- form-group -->
                                    <div class="col-xs-4 col-md-4" style="display:none">
                                        <label for="ShipppingAddress" style="margin-top: 25px;">Shipping Address: <i class="Cursor fa fa-info-circle" title="If you want to send your doors select one of your shipping addresses or create a new one. (The delivery has an additional cost)."></i></label><div></div>
                                        <select style="width:100%" class="eventChange form-control select2" id="cbShippingAddress" data-placeholder=""></select>
                                        <p>The delivery has an additional cost</p>
                                    </div><!-- col -->
                                    <div class="col-xs-4 col-md-1" style="display:none">
                                        <button style="margin-top: 55px;" type="button" data-toggle="modal" title="Add a new shipping address" data-target="#ModalAddSA" class="Cursor btnModalSA btn btn-success tx-11 pd-y-12 pd-x-25 tx-mont tx-medium">Add</button>
                                    </div><!-- col -->
                                </div>
                                <div class="col-md-4" id="Resultados" style="text-align: right;right;margin-top: 55px;padding-right: 0px;">
                                    @if (ord.Total <= 0 || ord.SubTotal <= 0)
                                    {

                                    }
                                    else
                                    {
                                        <input hidden id="idorder" value="@ord.Id" />
                                        <input hidden id="idtotal" value="@ord.Total" />
                                        <input hidden id="idstatus" value="@ord.Status.Id" />
                                        <h5 id="lblSubtotal" style="color:#7b7979">Sub-Total: <span>$</span>@ord.SubTotal.ToString().Replace(',', '.')</h5>
                                            <h5 id="lblTax" style="color:#7b7979; margin-left:15px">Tax: <span>$</span>@ord.Tax.ToString().Replace(',', '.')</h5>
                                            <h5 id="lblShippingCost" style="display:none;color:#7b7979; margin-left:15px">Cost of shipping: <span>$</span></h5>
                                            <h5 id="lblTotal" style="color:#000; margin-left:15px">Total Price: <span>$</span>@ord.Total.ToString().Replace(',', '.')</h5>
                                    }

                                </div>
                        }
                        else
                        {
                            <div class="col-md-7">

                            </div>
                        }
                    }
                </div>
                <div id="tableFooter">
                    <center style="text-align: right; margin-top: 20px;">
                        @if (Session["UserID"] != null)
                        {
                            if (ViewBag.Order == null || LastDoor.DoorsxOrder.Count == 0)
                            {
                                <button style="margin-left: 10px;" disabled type="button" class="Cursor btn-continue btn btn-primary" title="">Send order</button>
                            }
                            else
                            {
                                <button style="margin-left: 10px;" type="button" class="Cursor btn-continue btn btn-primary" title="">Send order</button>
                            }
                        }
                        else
                        {
                            <button style="margin-left: 10px;" disabled type="button" class="Cursor btn-continue btn btn-primary" title="">Send order</button>
                        }
                    </center>
                </div>
            </div>

    </div>

        <div id="modalDelete" class="modal fade" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-x-20">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Warning!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-20">
                        <p class="mg-b-5">You are about to delete an article. What would you like to do?</p>
                        <input id="deleteidhidden" type="hidden" value="" />
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button name="confirmButton" value="Delete" id="btnDelete" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Remove</button>
                        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="ModalUpload" class="modal fade" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-x-20">
                        <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Massive order!</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-20">
                        <p class="mg-b-5">Upload your excel file with your doors already configured. (Download our template by clicking <a href="~/Content/Template.xlsx">here</a> to use this method).</p>
                        <input id="deleteidhidden" type="hidden" value="" />
                    </div>
                    <div class="modal-footer justify-content-rigth">
                        <button id="btnupp" class="Cursor btn btn-outline-success btn-block"><i class="fa fa-upload mg-r-10"></i> Upload</button>
                        <input id="File1" name="file" type="file" data-max-size="5500000" style="display:none;" />
                        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="ModalAddSA" class="modal fade" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 100%; width: 60%;">
                <div class="modal-content bd-0 tx-14">
                    <div class="modal-header pd-x-20">
                        <div>
                            <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add a new shipping address</h6>
                            <p style="margin-top: 10px; margin-bottom: 0;">Add a new shipping address where you want to receive your doors. You can select this address for future orders</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body pd-20">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Name:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="5" maxlength="30" id="inName" name="inptName" placeholder="Enter address name">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Contact:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" maxlength="12" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" id="inContact" name="contact" placeholder="Enter a contact number">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Residence:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="5" maxlength="30" id="inResidence" name="inptName" placeholder="Enter residence">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">Address:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="5" maxlength="30" id="inAddress" name="inptName" placeholder="Enter address">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">City:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="5" maxlength="30" id="inCity" name="inptName" placeholder="Enter city">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label">State:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="5" maxlength="30" id="inStreet" name="inptName" placeholder="Enter street">
                                </div>
                            </div><!-- col-4 -->
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label">Zip:</label>
                                    <input required title="Complete this field." class="required RequiereLlenar form-control" type="text" minlength="4" maxlength="8" id="inZipCode" name="inptName" placeholder="Enter zip code">
                                </div>
                            </div><!-- col-4 -->
                        </div>
                    </div>
                    <div class="modal-footer justify-content-rigth">
                        <button name="confirmButton" id="btnSaveShip" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save</button>
                        <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 74%!important;max-width: 100%" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" id="btXclose" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>

                            <div class="pd-xs-x-15 pd-y-10">
                                <div style="display:flex">
                                    <h3 id="lblTitulo" class="tx-inverse  mg-b-5">Create a new door</h3>
                                    <a style="margin-left: 20px;" title="Click here to modify the door" href="#" id="btModify" class="btn btn-primary btn-icon">
                                        <div><i class="fa fa-edit"></i></div>
                                    </a>
                                </div>
                                <p id="lblSubTitulo">Choose the the best door option that fit your needs.</p>
                                <div class="row" style="margin-right: 0;">
                                    <div class="col-md-12" style="padding-right:0">
                                        <div style="display:flex; width:100%">
                                            <div class="row" style="width:80%; max-height: 390px">
                                                <input id="idDoor" hidden />
                                                <div class="row" style="display:flex; width:100%">
                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="Material" style="margin-top: 25px;">Wood Species: </label>
                                                        <select style="width:100%" class="eventChange selectModal form-control select2" id="cbMaterial" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="DoorStyle" style="margin-top: 25px;">Door Style: </label>
                                                        <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbDoorStyle" data-placeholder=""></select>
                                                    </div><!-- col -->


                                                    <div class="col-xs-3 col-md-5">
                                                        <label for="inDescription" style="margin-top: 25px;">Door Place: </label>
                                                        <div class="radio" id="isOverlay" style="display:flex">

                                                        </div>
                                                    </div><!-- form-group -->
                                                </div>

                                                <div class="row" style="width: 100%;">
                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="InsideEdgeProfile" style="margin-top: 25px;">Inside Edge Profile: </label>
                                                        <select style="width:100%" class="form-control selectModal select2 Profile Doors" id="cbInsideEdgeProfile" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="OutsideEdgeProfile" style="margin-top: 25px;">Outside Edge Profile: </label>
                                                        <select style="width:100%" class="form-control selectModal select2 Profile Doors" id="cbOutsideEdgeProfile" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="BottomRail" style="margin-top: 25px;">Stile Width: </label>
                                                        <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbStileWidth" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="TopRail" style="margin-top: 25px;">Rail Width:</label>
                                                        <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbRailWidth" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="Join" style="margin-top: 25px;">Door Assembly: </label>
                                                        <select style="width:100%" class="form-control selectModal select2 Doors" id="cbDoorAssembly" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-2 col-md-3">
                                                        <label for="Panel" style="margin-top: 25px;">Panel Style: </label>
                                                        <select style="width:100%;" class="form-control selectModal select2 Profile Doors" id="cbPanel"></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="PanelMaterial" style="margin-top: 25px;">Panel Material: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbPanelMaterial" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="IsOpeningMeasurement" style="margin-top: 25px;">Opening for Glass: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbIsOpeningMeasurement" data-placeholder="">
                                                            <option value="1">No Opening </option>
                                                            <option value="2">Opening</option>
                                                        </select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="VerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbVerticalDivisions" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="HorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbHorizontalDivisions" data-placeholder=""></select>
                                                    </div><!-- col -->

                                                    <div class="col-xs-4 col-md-3">
                                                        <label for="isDrill" style="margin-top: 25px;">Hinge Drilling: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbisDrill" data-placeholder="">
                                                            <option value="1">No</option>
                                                            <option value="2">Yes</option>
                                                        </select>
                                                    </div><!-- col -->                                                    
                                                    <div class="col-xs-3 col-md-3">
                                                        <label for="FingerPull" style="margin-top: 25px;">Finger Pull: </label>
                                                        <select style="width:100%" class="form-control selectModal select2" id="cbFingerPull">
                                                            <option value="1">No</option>
                                                            <option value="2">Yes</option>
                                                        </select>
                                                    </div><!-- form-group -->
                                                </div>
                                            </div>

                                            <div class="row" style="width:20%" id="ModalIMG">

                                                <div id="Picture" class="row" style="margin-right: 0px;">
                                                    <center>
                                                        <img style="height: 100px;width: 235px;margin-top: 20px;" id="ProfilePicture" src="~/Content/img/Profile/img11.png" />
                                                        <img style="width: 230px;height: 230px;" id="DoorPicture" src="~/Content/img/Doors/img11.png">
                                                    </center>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer">
                                <div style="width: 50%; display: flex;justify-content: flex-end;">
                                    <button id="btConfAdd" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save config</button>
                                    <button id="btConfSave" type="button" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save</button>
                                    <button type="button" id="btnCancel" style="margin-left:10px" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

        @section scripts{
            <script>
                var urlGetAllMaterial = '@Url.Action("GetAllMaterial", "ConfiDoor")';
                var urlGetAllDoorStyle = '@Url.Action("GetAllDoorStyle", "ConfiDoor")';
                var urlGetAllInsideEdgeProfile = '@Url.Action("GetAllInsideEdgeProfile", "ConfiDoor")';
                var urlGetAllOutsideEdgeProfile = '@Url.Action("GetAllOutsideEdgeProfile", "ConfiDoor")';
                var urlGetAllBottomRail = '@Url.Action("GetAllBottomRail", "ConfiDoor")';
                var urlGetAllTopRail = '@Url.Action("GetAllTopRail", "ConfiDoor")';
                var urlGetAllJoin = '@Url.Action("GetAllJoin", "ConfiDoor")';
                var urlGetAllPreparation = '@Url.Action("GetAllPreparation", "ConfiDoor")';
                var urlGetAllPanel = '@Url.Action("GetAllPanel", "ConfiDoor")';
                var urlGetAllPanelMaterial = '@Url.Action("GetAllPanelMaterial", "ConfiDoor")';
                var urlGetAllVerticalDivisions = '@Url.Action("GetAllVerticalDivisions", "ConfiDoor")';
                var urlGetAllHorizontalDivisions = '@Url.Action("GetAllHorizontalDivisions", "ConfiDoor")';
                var urlGetAllHingePositions = '@Url.Action("GetAllHingePositions", "ConfiDoor")';
                var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "ConfiDoor")';
                var urlGetAllDoorType = '@Url.Action("GetAllDoorType", "ConfiDoor")';
                var urlGetAllDoorOption = '@Url.Action("GetAllDoorOption", "ConfiDoor")';
                var urlGetAllDecimals = '@Url.Action("GetAllDecimals", "ConfiDoor")';
                var urlInsertDoorsxUser = '@Url.Action("InsertDoorsxUser", "ConfiDoor")';
                var urlGetPrices = '@Url.Action("GetPrices", "ConfiDoor")'; 
                var urlUploadExcel = '@Url.Action("UploadExcel", "ConfiDoor")';
                var urlDeleteItem = '@Url.Action("DeleteItem", "OrderSummary")';
                var urlConfirmOrder = '@Url.Action("ConfirmOrder", "OrderSummary")';
                var urlValidateSession = '@Url.Action("ValidateSession", "OrderSummary")';
                var urlGetOrderSumary = '@Url.Action("GetOrderSumary", "OrderSummary")';
                var urlGetLastDoor = '@Url.Action("GetLastDoor", "OrderSummary")';
                var urlInsertDoorsxOrder = '@Url.Action("InsertDoorsxOrder", "ConfiDoor")';
                var urlGetAllShippingAddress = '@Url.Action("GetAllShippingAddressByUser", "OrderSummary")';
                var urlInsertShipping = '@Url.Action("InsertShippingAddress", "OrderSummary")';
                var urlUpdateDoorsxUser = '@Url.Action("UpdateDoorsxUser", "ConfiDoor")';
                var urlGetInsideAndOutside = '@Url.Action("GetInsideAndOutside", "ConfiDoor")';
                var urlUpdateDoorsxOrder = '@Url.Action("UpdateDoorxOrder", "ConfiDoor")';


                try {
                    var listDOOR = JSON.parse('@Html.Raw(ViewBag.JsDoor)');
                } catch (e) {
                    var listDOOR = '';
                }
                try {
                    var DoorDashboard = JSON.parse('@Html.Raw(ViewBag.DoorDashboard)');
                } catch (e) {
                    var DoorDashboard = '';
                }

                    try {
                        var _DoorSt = '@ViewBag.IDDoorStyle';


                    } catch (e) {
                        var _DoorSt = 0;
                    }


                $(function () {
                    'use strict'

                    $('.form-layout .form-control').on('focusin', function () {
                        $(this).closest('.form-group').addClass('form-group-active');
                    });

                    $('.form-layout .form-control').on('focusout', function () {
                        $(this).closest('.form-group').removeClass('form-group-active');
                    });

                    // Select2
                    $('#select2-a, #select2-b').select2({
                        minimumResultsForSearch: Infinity
                    });

                    $('#select2-a').on('select2:opening', function (e) {
                        $(this).closest('.form-group').addClass('form-group-active');
                    });

                    $('#select2-a').on('select2:closing', function (e) {
                        $(this).closest('.form-group').removeClass('form-group-active');
                    });

                });



            </script>


            @Scripts.Render("~/Scripts/js/OrderSumm.js")
            @Scripts.Render("~/Scripts/js/ConfigDoor.Index.js")
            @Scripts.Render("~/Scripts/js/GetAllMaster.js")
            @Scripts.Render("~/Scripts/js/OrderSummary.ConfigDoor.js")
            <script src="~/Content/lib/select2/js/select2.min.js"></script>
            <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
<script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
<script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>

        }


