
@{
    ViewBag.Title = "Order Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.Order ord = ViewBag.Listo;
}

<style>
        #confirmDROP{
            background-color:#ff9900; 
            border-color:#ff9900;
        }

         #confirmDROP:hover{
             background-color:#dc3545; 
            border-color:#dc3545;
            cursor:pointer;
        }

         #cnlDROP{
             background-color:#868686; 
             border-color:#868686
         }

         #cnlDROP:hover{
             background-color: #dedcdc;
            color: black;
            cursor:pointer;
         }

         #btn_dropItems{
             background-color:#ff9900; 
            border-color:#ff9900;
        }

         #btn_dropItems:hover{
             background-color:#c74000; 
            border-color:#c74000;
            cursor:pointer;
        }

    .table th, .table td {
        vertical-align:middle!important;
    }
    </style>

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div>

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="card-header pd-sm-bottom-30" style="background-color: #ffffff00;">
            <h4 class="tx-gray-800 mg-b-5">Order Summary</h4>
            @if (ViewBag.xUserDoors == null)
            {
                
            }
            else
            {
                <p class="mg-b-0">This is your active order. Click on continue to process your purchase.</p>
            }

        </div>

        <table id="idOrderSummary" class="table table-responsive mg-b-0 tx-12">
            <thead>
                <tr class="tx-10">
                    <th>Preview</th>
                    <th>Material</th>
                    <th>Outside profile</th>
                    <th>Inside profile</th>
                    <th>Panel Type</th>
                    <th>Quantity</th>
                    <th>Item cost</th>
                    <th>Sub-Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="odd" id="id-table">
                @if (Session["UserID"] == null)
                {
                    <tr class="odd">
                        <td valign="top" colspan="10" class="dataTables_empty">No data available in table. Log in to your account to see your active order.</td>
                    </tr>
                }
                else
                {
                    if (ViewBag.xUserDoors == null)
                    {
                        <tr class="odd">
                            <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
                        </tr>
                    }
                    else
                    {
                        foreach (Model.DoorsxUser i in ViewBag.xUserDoors)
                        {
                            decimal itemcost = (i.SubTotal / i.Quantity);
                            
                            <tr>
                                <td><img style="width: 80px;" src="@i.Picture"></td>
                                <td>@i.Material.Description</td>
                                <td>@i.OutsideEdgeProfile.Description</td>
                                <td>@i.InsideEdgeProfile.Description</td>
                                <td>@i.Panel.Description</td>
                                <td>@i.Quantity</td>
                                <td>@itemcost</td>
                                <td>@i.SubTotal</td>
                                <td id="tddelete">
                                    <button class="Cursor btn btn-danger btn-icon btnn-dele" data-id="@i.Id" style="width: 37px;height: 37px;" type="submit"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>

        <div class="row">
            @if (Session["UserID"] == null)
            {
                <div class="col-md-7">

                </div>
            }
            else
            {
                if (ord.Status == null)
                {
                    <div class="col-md-7">
                        
                    </div>
                }
                else if(ord.Status.Id == 7 && ord.Total != 0)
                {
                  
                    <input hidden id="idorder" value="@ord.Id" />
                    <input hidden id="idtotal" value="@ord.Total" />
                    <input hidden id="idstatus" value="@ord.Status.Id" />
                    <div class="col-md-7">
                        <h5 style="color:#7b7979">Sub-Total: @ord.SubTotal<span>$</span></h5>
                        <h5 style="color:#7b7979">Tax: @ord.Tax<span>$</span></h5>
                        <h3 style="color:#000">Total Price: @ord.Total<span>$</span></h3>
                    </div>
                }
                else
                {
                    <div class="col-md-7">

                    </div>
                }
            }
            @if (ViewBag.xUserDoors == null)
            {
                <div class="col-md-5" style="display:flex; justify-content:flex-end">
                    <button id="btn_carrito" onclick="location.href='@Url.Action("Index","ConfiDoor")'" style="margin-left: 25px;" type="button" src="#" class="Cursor btn btn-success" title="">Build a Door</button>                     
                </div>
            }
            else
            {
               
                <div class="col-md-5">
                    <center style="text-align: right; margin-top: 20px;">
                        <button id="btn_carrito" style="margin-left: 10px;" type="button" onclick="location.href='@Url.Action("Index","ConfiDoor")'" class="Cursor btn btn-success" title="">Build a Door</button>
                        <button id="btn-continue" style="margin-left: 10px;" onclick="this.disabled = true; ConverExcel('idOrderSummary', 'W3C Example Table')" type="submit" src="#" class="Cursor btn btn-primary" title="">Continue</button>
                    </center>
                </div>
            }
        </div>
    </div>
</div>
<div id="modalDelete" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Warning!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pd-20">
                <p class="mg-b-5">You are about to delete an article. What would you like to do?</p>
                <input id="deleteidhidden" type="hidden" value="" />
            </div>
            <div class="modal-footer justify-content-center">
                <button name="confirmButton" value="Delete" id="btnDelete" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Remove</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#confirmDROP").mouseover(function () {
                $("#alerticon").css("color", "#dc3545");
                $("#alertmessage").css("color", "#dc3545");
            });

            $("#confirmDROP").mouseout(function () {
                $("#alerticon").css("color", "#ff9900");
                $("#alertmessage").css("color", "#ff9900");
            });
        });
    </script>

    <script type="text/javascript">
        var urlDeleteItem = '@Url.Action("DeleteItem", "OrderSummary")';
        var urlConfirmOrder = '@Url.Action("ConfirmOrder", "OrderSummary")';
        var urlDropItems = '@Url.Action("DropOrder", "OrderSummary")';
    </script>

    @Scripts.Render("~/Scripts/js/OrderSumm.js")
    @Scripts.Render("~/Scripts/js/ConverExcel.js")
    @Scripts.Render("~/Scripts/js/envio.js")
}


