
@{
    ViewBag.Title = "Build a Door";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="pd-sm-bottom-30">
            <h4 class="tx-gray-800 mg-b-5">Door Configuration</h4>
            <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
        </div>
       <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-md-3">
                        <label for="Name" style="margin-top: 25px;">Template / Item Name: </label>
                        <input class="form-control" placeholder="" id="iptName" type="text">
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Material" style="margin-top: 25px;">Wood Species: </label>
                        <select class="form-control select2" id="cbMaterial" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Width" style="margin-top: 25px;">Width: </label>
                        <input class="form-control" placeholder="" id="iptWidth" type="number">
                    </div><!-- col -->
                    <div class="col-xs-4 col-md-3">
                        <label for="Height" style="margin-top: 25px;">Height: </label>
                        <input class="form-control" placeholder="" id="iptHeight" type="number">
                    </div><!-- col -->
                </div>
            </div>
        </div>

        @*<table style="margin-left: 25px;">
                <tbody>
                <tr>
                        <td colspan="4">
                            <img style="height: 100px;width: 400px;margin-top: 20px;" src="~/Content/img/Cabinet_Vector-18.jpg" />
                        </td>
                    </tr>

                    <tr>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>*@

        <hr>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-xs-4 col-md-3">
                        <label for="DoorStyle" style="margin-top: 25px;">Door Style </label>
                        <select class="form-control select2" id="cbDoorStyle" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="InsideEdgeProfile" style="margin-top: 25px;">Inside Edge Profile: </label>
                        <select class="form-control select2" id="cbInsideEdgeProfile" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="OutsideEdgeProfile" style="margin-top: 25px;">Outside Edge Profile: </label>
                        <select class="form-control select2" id="cbOutsideEdgeProfile" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="BottomRail" style="margin-top: 25px;">Bottom Rail: </label>
                        <select class="form-control select2" id="cbBottomRail" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="TopRail" style="margin-top: 25px;">Top Rail:</label>
                        <select class="form-control select2" id="cbTopRail" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Join" style="margin-top: 25px;">Join: </label>
                        <select class="form-control select2" id="cbJoin" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Preparation" style="margin-top: 25px;">Preparation: </label>
                        <select class="form-control select2" id="cbPreparation" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Panel" style="margin-top: 25px;">Panel Type: </label>
                        <select class="form-control select2" id="cbPanel" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="PanelMaterial" style="margin-top: 25px;">Panel Profile: </label>
                        <select class="form-control select2" id="cbPanelMaterial" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="IsOpeningMeasurement" style="margin-top: 25px;">Opening Measurement: </label>
                        <select class="form-control select2" id="cbIsOpeningMeasurement" data-placeholder="">
                            <option value="false">No Opening </option>
                            <option value="true">Opening</option>
                        </select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="VerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                        <select class="form-control select2" id="cbVerticalDivisions" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="HorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                        <select class="form-control select2" id="cbHorizontalDivisions" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="isDrill" style="margin-top: 25px;">Hinge Drilling: </label>
                        <select class="form-control select2" id="cbisDrill" data-placeholder="">
                            <option value="false">No Drill</option>
                            <option value="true">Drill</option>
                        </select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="HingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                        <select class="form-control select2" id="cbHingeDirection" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="HingePositions" style="margin-top: 25px;">Hinge Positions: </label>
                        <select class="form-control select2" id="cbHingePositions" data-placeholder=""></select>
                    </div><!-- col -->

                    <div class="col-xs-4 col-md-3">
                        <label for="Quantity" style="margin-top: 25px;">Quantity: </label>
                        <input class="form-control" placeholder="" id="iptQuantity" type="number">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="row" style="margin-right: 0px;">
                    <center>
                        <img style="height: 100px;width: 260px;margin-top: 20px;" src="~/Content/img/Cabinet Vector-01.png" />
                        <img style="width: 230px;height: 230px;" src="~/Content/img/Cabinet Vector-01.png" />
                    </center>
                </div>
            </div>
            <button class="btn btn-success" style="margin-top:15px" id="btConfirm">Confirm</button>
        </div>
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

@section scripts{

    <script type="text/javascript">
        var urlGetAllMaterial = '@Url.Action("GetAllMaterial", "ConfiDoor")';
        var urlGetAllDoorStyle = '@Url.Action("GetAllDoorStyle", "ConfiDoor")';
        var urlGetAllInsideEdgeProfile = '@Url.Action("GetAllInsideEdgeProfile", "ConfiDoor")';
        var urlGetAllOutsideEdgeProfile = '@Url.Action("GetAllOutsideEdgeProfile", "ConfiDoor")';
        var urlGetAllBottomRail = '@Url.Action("GetAllBottomRail", "ConfiDoor")';
        var urlGetAllTopRail = '@Url.Action("GetAllTopRail", "ConfiDoor")';
        var urlGetAllJoin = '@Url.Action("GetAllJoin", "ConfiDoor")';
        var urlGetAllPreparation = '@Url.Action("GetAllPreparation", "ConfiDoor")';
        var urlGetAllPanel = '@Url.Action("GetAllPanel", "ConfiDoor")';
        var urlGetAllPanelMaterial = '@Url.Action("GetAllPanelMaterial", "ConfiDoor")';
        var urlGetAllVerticalDivisions = '@Url.Action("GetAllVerticalDivisions", "ConfiDoor")';
        var urlGetAllHorizontalDivisions = '@Url.Action("GetAllHorizontalDivisions", "ConfiDoor")';
        var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "ConfiDoor")';
        var urlGetAllHingePositions = '@Url.Action("GetAllHingePositions", "ConfiDoor")';
        var urlInsertDoorsxUser = '@Url.Action("InsertDoorsxUser", "ConfiDoor")';

        $(document).ready(function () {
            var Doors = JSON.parse('@Html.Raw(ViewBag.Door)');
            $("#cbPanelMaterial").val(Doors.PanelMaterial.Id);
        });
    </script>
    @Scripts.Render("~/Scripts/js/ConfigDoor.Index.js")
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    <script>
      $(function(){
        'use strict'

        $('.form-layout .form-control').on('focusin', function(){
          $(this).closest('.form-group').addClass('form-group-active');
        });

        $('.form-layout .form-control').on('focusout', function(){
          $(this).closest('.form-group').removeClass('form-group-active');
        });

        // Select2
        $('#select2-a, #select2-b').select2({
          minimumResultsForSearch: Infinity
        });

        $('#select2-a').on('select2:opening', function (e) {
          $(this).closest('.form-group').addClass('form-group-active');
        });

        $('#select2-a').on('select2:closing', function (e) {
          $(this).closest('.form-group').removeClass('form-group-active');
        });

      });
    </script>
}
