
@{
    ViewBag.Title = "Orders Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">@ViewBag.Title</h4>
                        <p class="mg-b-0">Here you can have control of all incoming orders and in process, in addition to changing the status of the order, add observations or discounts..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="First name: activate to sort column ascending">Reference number</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Number of items</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Total</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Status</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center" aria-label="Last name: activate to sort column ascending"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Ordenes == null)
                        {
                            <tr class="odd">
                                <td valign="top" colspan="10" class="dataTables_empty">No data available in table.</td>
                            </tr>
                        }
                        else {
                            foreach (Model.Order item in ViewBag.Ordenes)
                            {
                                <tr role="row" class="odd">
                                    <td tabindex="0" class="">@item.Id</td>
                                    <td class="">@item.Quantity</td>
                                    <td class="">@item.Total</td>
                                    <td class="tx-12">
                                        @if (item.Status.Id == 7)
                                        { <span class="square-8 bg-success mg-r-5 rounded-circle"></span> }
                                        else if (item.Status.Id == 6)
                                        { <span class="square-8 btn-primary mg-r-5 rounded-circle"></span> }
                                        else if (item.Status.Id == 5)
                                        { <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> }
                                        @item.Status.Description
                                    </td>

                                    <td class="">

                                        <button href="#" data-id="@item.Id" id="" value="" class="Detalle Cursor btn btn-info btn-icon">
                                            <div><i class="fa fa-eye"></i></div>
                                        </button>
                                        @if (item.Status.Id == 5)
                                        { <a href="#" data-target="" id="" title="Approve order." value="@item.Id" class="Approved btn btn-primary btn-icon">
                                    <div><i class="fa fa-check"></i></div>
                                </a>
                                    <a href="#" data-toggle="modal" data-target="" id="" title="Remove order." value="@item.Id" class="Remove btn btn-danger btn-icon">
                                        <div><i class="fa fa-close"></i></div>
                                    </a>}
                                        else if (item.Status.Id == 6)
                                        {<a href="#" data-target="" id="" title="Process order." value="@item.Id" class="Process btn btn-warning btn-icon">
                                    <div><i class="fa fa-check"></i></div>
                                </a> }
                                        else if (item.Status.Id == 7)
                                        {<a href="#" data-target="" id="" title="Complete order." value="@item.Id" class="Completed btn btn-success btn-icon">
                                    <div><i class="fa fa-check"></i></div>
                                </a> }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
        <h3>Menu 3</h3>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
</div>

<div class="modal fade" id="ModalOrderInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="mdialTamanio" style="width: 80%!important; max-width:100%">
        <div class="modal-content">
            @*<div style="border-bottom: 1px solid #e9ecef; padding: 15px" id="orderhead">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div style="display:flex" id="tituloConBTNEdit">
                    
                </div>
                <p id="lblSubTitulo" style="margin-bottom:0; font-size:17px">Here you can see your general settings and your list of doors added to your order.</p>
                <div id="HeaderOptions" style="color:#000;margin-right: 0; padding:10px" class="row">

                </div>  
            </div>
            <div class="modal-body" id="ordertable" style="overflow-y:scroll; height:265px">

            </div>
            <div class="modal-footer">
                <button type="button" class="Cursor btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>*@
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var urlGetDoorsByOrder = '@Url.Action("GetDoorsByOrder", "OrderControl")';
        var urlGetAllMaterial = '@Url.Action("GetAllMaterial", "ConfiDoor")';
        var urlGetAllDecimals = '@Url.Action("GetAllDecimals", "ConfiDoor")';
        var urlGetAllDoorStyle = '@Url.Action("GetAllDoorStyle", "ConfiDoor")';
        var urlGetAllInsideEdgeProfile = '@Url.Action("GetAllInsideEdgeProfile", "ConfiDoor")';
        var urlGetAllOutsideEdgeProfile = '@Url.Action("GetAllOutsideEdgeProfile", "ConfiDoor")';
        var urlGetAllBottomRail = '@Url.Action("GetAllBottomRail", "ConfiDoor")';
        var urlGetAllTopRail = '@Url.Action("GetAllTopRail", "ConfiDoor")';
        var urlGetAllJoin = '@Url.Action("GetAllJoin", "ConfiDoor")';
        var urlGetAllPreparation = '@Url.Action("GetAllPreparation", "ConfiDoor")';
        var urlGetAllPanel = '@Url.Action("GetAllPanel", "ConfiDoor")';
        var urlGetAllPanelMaterial = '@Url.Action("GetAllPanelMaterial", "ConfiDoor")';
        var urlGetAllVerticalDivisions = '@Url.Action("GetAllVerticalDivisions", "ConfiDoor")';
        var urlGetAllHorizontalDivisions = '@Url.Action("GetAllHorizontalDivisions", "ConfiDoor")';
        var urlGetAllHingePositions = '@Url.Action("GetAllHingePositions", "ConfiDoor")';
        var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "ConfiDoor")';
        var urlGetAllDoorType = '@Url.Action("GetAllDoorType", "ConfiDoor")';
        var urlGetAllDoorOption = '@Url.Action("GetAllDoorOption", "ConfiDoor")';
        var urlGetPrices = '@Url.Action("GetPrices", "ConfiDoor")';
        var urlUpdateOrderStatus = '@Url.Action("UpdateOrderStatus", "OrderControl")';
        var urlGetAllOrderControl = '@Url.Action("GetAllOrderControl", "OrderControl")';
        try {
            var listDOOR = JSON.parse('@Html.Raw(ViewBag.ListDoorsxUser)');
        } catch (e) {
            var listDOOR = "";
        }
      
    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    @Scripts.Render("~/Scripts/js/ControlOfOrders.js")
    @Scripts.Render("~/Scripts/js/OrderStatus.FillingOfCombos.js")
    @Scripts.Render("~/Scripts/js/ControlOfOrderd.ConfiDoor.js")
}


