
@{
    ViewBag.Title = "Orders Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 

    }
    input[type=number] { -moz-appearance:textfield; }
    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #D2D2D2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8397C6), color-stop(1, #B8B4B4) );background:-moz-linear-gradient( center top, #8397C6 5%, #B8B4B4 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8397C6', endColorstr='#B8B4B4');background-color:#8397C6; color:#FFFFFF; font-size: 12px; font-weight: normal; border-left: 1px solid #B0B0B0; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #5C5C5C; border-left: 1px solid #ADADAD;font-size: 12px;border-bottom: 1px solid #E6F0F2;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }
</style>

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">@ViewBag.Title</h4>
                        <p class="mg-b-0">Here you can have control of all incoming orders and in process, in addition to changing the status of the order, add observations or discounts..</p>
                        <div class="row"  > 
                            <div class="col-md-4">
                                <label for="Panel" style="margin-top: 25px;">Search: </label>
                                <select style="width:100%;" class="form-control select2 " id="cbSearch"></select>
                            </div><!-- col -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="pd-y-5 sorting_disabled">Reference number</th>
                            <th class="pd-y-5 sorting_disabled">Number of items</th>
                            <th class="pd-y-5 sorting_disabled">Status</th>
                            <th class="pd-y-5 sorting_disabled">Total</th>                           
                            <th class="pd-y-5 sorting_disabled"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.Ordenes == null)
                        {
                            <tr class="odd">
                                <td valign="top" colspan="10" class="dataTables_empty">No data available in table.</td>
                            </tr>
                        }
                        else {
                            foreach (Model.Order item in ViewBag.Ordenes)
                            {
                                <tr role="row" class="odd">
                                    <td tabindex="0" class="">@item.Id</td>
                                    <td class="">@item.Quantity</td>                                   
                                    <td class="tx-12">
                                        @if (item.Status.Id == 7)
                                        { <span class="square-8 bg-success mg-r-5 rounded-circle"></span> }
                                        else if (item.Status.Id == 6)
                                        { <span class="square-8 btn-primary mg-r-5 rounded-circle"></span> }
                                        else if (item.Status.Id == 5)
                                        { <span class="square-8 bg-warning mg-r-5 rounded-circle"></span> }
                                        else {  <span class="square-8 bg-danger mg-r-5 rounded-circle"></span>  }
                                        @item.Status.Description
                                    </td>
                                    <td class=""><span>$</span>@item.Total.ToString().Replace(',', '.')</td>

                                    <td class="">
                                        <button href="#" data-id="@item.Id" id="" data-toggle="modal" data-target=".ModalOrderInfo" class="Detalle Cursor btn btn-info btn-icon" style="width: 25px;height: 25px; margin-left: 10px;">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                        @if (item.Status.Id == 5)
                                        { <button href="#" data-target="" id="" title="Approve order." value="@item.Id" class="Approved Cursor btn btn-primary btn-icon" style="width: 25px;height: 25px; margin-left: 10px;">
                                    <i class="fa fa-check"></i>
                                </button>
                                    <button href="#" data-toggle="modal" data-target="" id="" title="Remove order." value="@item.Id" class="Remove Cursor btn btn-danger btn-icon" style="width: 25px;height: 25px; margin-left: 10px;">
                                        <i class="fa fa-close"></i>
                                    </button>}
                                        else if (item.Status.Id == 6)
                                        {<button href="#" data-target="" id="" title="Process order." value="@item.Id" class="Process Cursor btn btn-warning btn-icon" style="width: 25px;height: 25px; margin-left: 10px;">
                                    <i class="fa fa-check"></i>
                                </button> }
                                        else if (item.Status.Id == 7)
                                        {<button href="#" data-target="" id="" title="Complete order." value="@item.Id" class="Completed Cursor btn btn-success btn-icon" style="width: 25px;height: 25px; margin-left: 10px;">
                                    <i class="fa fa-check"></i>
                                </button> }
                                        <button class="Cursor btn btn-secondary btn-icon Descarga" data-id="@item.Id" style="width: 25px; height: 25px; margin-left: 10px;"><i class="fa fa-download"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>
<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div id="ModalOrderInfo" class="ModalOrderInfo modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="mdialTamanio" style="width: 80%!important; max-width:100%;max-height: 100%;height: 90%;">
        <div class="modal-content" style="height:100%">
            <div class="modal-header">
                <div style="display:flex" id="tituloConBTNEdit"> 
                    <a id="editBCK" title="Click here to return to the previous window." class="btn btn-icon active" data-toggle="tab" href="#infoPanel" role="tab">
                        <div><i class="fa fa-arrow-left"></i></div>
                    </a>                 
                    <h3 id="lblTitulo" class="tx-inverse mg-b-5">Details of the order #<span id="orreff" style="color:#014d41"></span></h3>                   
                    <a id="editDXU" style="margin-left: 20px;" title="Click here to modify the general configuration of the order and add a general discount." data-toggle="tab" href="#ads" role="tab" class="btn btn-primary btn-icon">
                        <div><i class="fa fa-edit"></i></div>
                    </a>                    
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">               
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="infoPanel" role="tabpanel">                     
                        <div class="row" style="margin-right: 0;">
                            <div class="datagrid" style="width: 100%;">
                                <table id="UserOrderInfo">                                    
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>
                        <div style="color:#000;margin-right: 0; padding:10px" class="row">
                            <div class="datagrid" style="width: 100%;">
                                <table id="HeaderOptions">
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="overflow-y:auto; height: 235px;" id="divTable">
                            @*<table id="ordertable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>PREVIEW</th>
                                        <th>QUANTITY</th>
                                        <th>WIDHT</th>
                                        <th>HEIGHT</th>
                                        <th>PANEL STYLE</th>
                                        <th>DOOR TYPE</th>
                                        <th>DOOR OPTION</th>
                                        <th>U. PRICE</th>
                                        <th>TOTAL</th>
                                        <th><i class="fa fa-flash"></i></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>*@                            
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ads" role="tabpanel">
                        <div class="row" style="margin-right: 0;">
                            <div class="col-md-12" style="padding-right:0">
                                <div style="display:flex; width:100%">
                                    <div class="row" style="width:100%; max-height: 380px;margin-right: 0;">
                                        <input id="idDxUorder" hidden />
                                        <div class="row" style="width: 100%;">
                                            <div class="col-xs-4 col-md-3">
                                                <label for="Material" style="margin-top: 25px;">Wood Species: </label>
                                                <select style="width:100%" class="eventChange selectModal form-control select2" id="cbMaterial" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="DoorStyle" style="margin-top: 25px;">Door Style: </label>
                                                <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbDoorStyle" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-3 col-md-4">
                                                <label for="inDescription" style="margin-top: 25px;">Door Place: </label>
                                                <div class="radio" id="isOverlay" style="display:flex">

                                                </div>
                                            </div><!-- form-group -->

                                            <div class="col-xs-3 col-md-2">
                                                <label for="inDescription" style="margin-top: 25px;">Discount: </label>
                                                <div class="input-group" style="width: 53%!important;">         
                                                    <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" min="1" maxlength="2" max="99" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="descDXU">                                                                                                                                                  
                                                    <span class="input-group-addon tx-size-sm lh-2">%</span>
                                                </div>                                                                                                                                             
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="InsideEdgeProfile" style="margin-top: 25px;">Inside Edge Profile: </label>
                                                <select style="width:100%" class="form-control selectModal select2 Profile Doors" id="cbInsideEdgeProfile" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="OutsideEdgeProfile" style="margin-top: 25px;">Outside Edge Profile: </label>
                                                <select style="width:100%" class="form-control selectModal select2 Profile Doors" id="cbOutsideEdgeProfile" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="BottomRail" style="margin-top: 25px;">Stile Width: </label>
                                                <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbStileWidth" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="TopRail" style="margin-top: 25px;">Rail Width:</label>
                                                <select style="width:100%" class="eventChange selectModal form-control select2 Doors" id="cbRailWidth" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="Join" style="margin-top: 25px;">Door Assembly: </label>
                                                <select style="width:100%" class="form-control selectModal select2 Doors" id="cbDoorAssembly" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="PanelMaterial" style="margin-top: 25px;">Panel Material: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbPanelMaterial" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="IsOpeningMeasurement" style="margin-top: 25px;">Opening for Glass: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbIsOpeningMeasurement" data-placeholder="">
                                                    <option value="1">No Opening </option>
                                                    <option value="2">Opening</option>
                                                </select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="VerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbVerticalDivisions" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbHorizontalDivisions" data-placeholder=""></select>
                                            </div><!-- col -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="isDrill" style="margin-top: 25px;">Hinge Drilling: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbisDrill" data-placeholder="">
                                                    <option value="1">No</option>
                                                    <option value="2">Yes</option>
                                                </select>
                                            </div><!-- col -->

                                            <div id="HingeDirectionDiv" style="display:none" class="target col-xs-4 col-md-3">
                                                <label for="HingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                                                <select style="width:100%" value="true" class="select2 selectModal form-control" id="cbHingeDirection" data-placeholder=""></select>
                                            </div><!-- col -->                                           

                                            <div class="col-xs-3 col-md-3">
                                                <label for="FingerPull" style="margin-top: 25px;">Finger Pull: </label>
                                                <select style="width:100%" class="form-control selectModal select2" id="cbFingerPull">
                                                    <option value="1">No</option>
                                                    <option value="2">Yes</option>
                                                </select>
                                            </div><!-- form-group -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- pd-20 -->
                        </div><!-- col-6 -->
                    </div>
                    <div id="dxoPanel" class="tab-pane fade" role="tabpanel">
                        <div style="display:flex; margin-top:45px">
                            <div id="DivImagenes" style="width:33%">
                                <div class="row" style="margin-right: 0px; display:flex; justify-content:center">
                                    <center id="PictureProfile">
                                        <img style="height: 100px;width: 235px;margin-top: 20px;" id="ProfilePicture" src="~/Content/img/Profile/img11.png" />
                                    </center>
                                </div>
                                <div class="row" style="margin-right: 0px;display:flex; justify-content:center">
                                    <center id="PicturePanel">
                                        <img style="width: 230px;height: 230px;" id="DoorPicture" src="~/Content/img/Doors/img11.png">
                                    </center>
                                </div>
                            </div>
                            <div id="DivCombos" style="width:67%;">
                                <div class="row" style="margin-right: 0;">
                                    <input id="idDoorxO" hidden/>
                                    <input id="idDxuXO" hidden />
                                    <div class="col-xs-3 col-md-4">
                                        <label for="Panel" style="margin-top: 25px;">Panel Style: </label>
                                        <select style="width:100%;" class="form-control select2 Profile Doors" id="cbPanel"></select>
                                    </div><!-- col -->
                                    <div class="col-xs-3 col-md-4">
                                        <label for="DoorType" style="margin-top: 25px;">Door Type: </label>
                                        <select style="width:100%" class="form-control select2" id="cbDoorType"></select>
                </div>                
                                    <div class="col-xs-3 col-md-4">
                                        <label for="DoorType" style="margin-top: 25px;">Door Option</label>
                                        <select style="width:100%" class="form-control select2" id="cbDoorOpt"></select>
            </div>
                                    
                                    <div class="col-xs-2 col-md-3">
                                        <label for="width" style="margin-top: 25px;">Width: </label>
                                        <div>
                                            <div style="display:flex">
                                                <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptWidth form-control" type="number" min="1" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptWidth">
                                                <select style="width:50%!important" class="form-control select2" id="cbDecimalsW"></select>
                                            </div>
                                            <label id="alertWidth" style="Color:red; font-size:10px; display:none;margin:0"></label>
                                        </div>
                                    </div><!-- form-group -->
                                    <div class="col-xs-2 col-md-3">
                                        <label for="inDescription" style="margin-top: 25px;">Height: </label>
                                        <div>
                                            <div style="display:flex">
                                                <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" min="1" maxlength="3" max="100" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="iptHeight">
                                                <select style="width:50%!important" class="form-control select2" id="cbDecimalsH"></select>
                                            </div>
                                            <label id="alertHeight" style="Color:red; font-size:10px; margin:0"></label>
                                        </div>
                                    </div><!-- form-group -->

                                    <div class="col-xs-1 col-md-2">
                                        <label for="Material" style="margin-top: 25px;">Quantity: </label>
                                        <input style="width:100%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" min="1" maxlength="2" max="99" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="CantidadFila">                                        
                                    </div><!-- col -->                                   
                                </div>
                                <div class="row" style="margin-right: 0;">
                                    <p style="margin-bottom: 0;">You can add a different discount to this door or leave the discount of the order in general.</p>
                                </div>
                                <div class="row" style="margin-right: 0;">                                   
                                    <div class="col-xs-3 col-md-3">
                                        
                                        <div class="input-group" style="width: 53%!important;">
                                            <input style="width:50%!important" name="SoloNumeros" required class="required RequiereLlenar eventChange iptHeight form-control" type="number" min="1" maxlength="2" max="99" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" id="descDXO">
                                            <span class="input-group-addon tx-size-sm lh-2">%</span>
                                        </div>
                                    </div><!-- form-group -->
                                </div>
                            </div> 
                        </div>                                             
                    </div> 
                </div>                
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-secondary Cursor" data-dismiss="modal">Close</button>
                <button id="btnBack" type="button" class="btn btn-secondary Cursor">Back</button>
                <button id="btnsave" type="button" class="Cursor btn btn-primary Cursor">Save changes</button>
                <button id="btnsaveDxO" type="button" class="Cursor btn btn-primary Cursor">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var _IdOrderModificar = 0;
        var _IdDoorxUser = 0;
        var urlGetOrderxStatus = '@Url.Action("GetOrderxStatus", "OrderControl")';
        var urlGetAllStatus = '@Url.Action("GetAllStatus", "ConfiDoor")';
        var DxOl = 0;
        var urlGetDoorsByOrder = '@Url.Action("GetDoorsByOrder", "OrderControl")';
        var urlGetAllMaterial = '@Url.Action("GetAllMaterial", "ConfiDoor")';
        var urlGetAllDecimals = '@Url.Action("GetAllDecimals", "ConfiDoor")';
        var urlGetAllDoorStyle = '@Url.Action("GetAllDoorStyle", "ConfiDoor")';
        var urlGetAllInsideEdgeProfile = '@Url.Action("GetAllInsideEdgeProfile", "ConfiDoor")';
        var urlGetAllOutsideEdgeProfile = '@Url.Action("GetAllOutsideEdgeProfile", "ConfiDoor")';
        var urlGetAllBottomRail = '@Url.Action("GetAllBottomRail", "ConfiDoor")';
        var urlGetAllTopRail = '@Url.Action("GetAllTopRail", "ConfiDoor")';
        var urlGetAllJoin = '@Url.Action("GetAllJoin", "ConfiDoor")';
        var urlGetAllPreparation = '@Url.Action("GetAllPreparation", "ConfiDoor")';
        var urlGetAllPanel = '@Url.Action("GetAllPanel", "ConfiDoor")';
        var urlGetAllPanelMaterial = '@Url.Action("GetAllPanelMaterial", "ConfiDoor")';
        var urlGetAllVerticalDivisions = '@Url.Action("GetAllVerticalDivisions", "ConfiDoor")';
        var urlGetAllHorizontalDivisions = '@Url.Action("GetAllHorizontalDivisions", "ConfiDoor")';
        var urlGetAllHingePositions = '@Url.Action("GetAllHingePositions", "ConfiDoor")';
        var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "ConfiDoor")';
        var urlGetAllDoorType = '@Url.Action("GetAllDoorType", "ConfiDoor")';
        var urlGetAllDoorOption = '@Url.Action("GetAllDoorOption", "ConfiDoor")';
        var urlGetPrices = '@Url.Action("GetPrices", "ConfiDoor")';
        var urlUpdateOrderStatus = '@Url.Action("UpdateOrderStatus", "OrderControl")';
        var urlGetAllOrderControl = '@Url.Action("GetAllOrderControl", "OrderControl")';
        var urlInsertDoorsxUser = '@Url.Action("UpdateDoorxUser", "OrderControl")';
        var urlUpdateDoorxOrder = '@Url.Action("UpdateDoorxOrder", "OrderControl")';
        var urlDescargarOderPDF = '@Url.Action("DescargarOrderPDF", "OrderStatus")';
        try {
            var listDOOR = JSON.parse('@Html.Raw(ViewBag.ListDoorsxUser)');
        } catch (e) {
            var listDOOR = "";
        }

    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    @Scripts.Render("~/Scripts/js/ControlOfOrders.js")
    @Scripts.Render("~/Scripts/js/OrderStatus.FillingOfCombos.js")
    @Scripts.Render("~/Scripts/js/ControlOfOrderd.ConfiDoor.js")
}


