@using VenusDoors.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
<div class="d-flex align-items-center justify-content-center bg-gray-300 ht-500 pd-x-20 pd-xs-x-0">
    <div class="card wd-350 shadow-base">
        <div class="card-body pd-x-20 pd-xs-40">
            <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Sign in to continue</h5>
            <p class="mg-b-30 tx-14">Don't have an account? <a href="">Create an account</a>, it only takes less than a minute.</p>

            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Enter email address">
            </div><!-- form-group -->
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="Enter password">
            </div><!-- form-group -->
            <button class="btn btn-info btn-block">Sign In</button>
        </div><!-- card-body -->
    </div><!-- card -->
</div><!-- d-flex -->
@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use una cuenta local para iniciar sesión.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registrar como nuevo usuario", "Register")
                </p>
                @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}