
@{
    ViewBag.Title = "Doors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <a class="breadcrumb-item" href="#">Masters</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->
@*<link href="~/Content/lib/select2/css/select2.min.css" rel="stylesheet" />*@
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">Standard Doors</h4>
                    </div>
                    <div class="col-md-1">
                        <button type="button" data-toggle="modal" data-target="#modalInsert" id="btInsert" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="First name: activate to sort column ascending">Id</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Door Style</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Material</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Outside Edge Profile</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Inside Edge Profile</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Panel</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Status</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center" aria-label="Last name: activate to sort column ascending"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model.Doors item in ViewBag.mDoors)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="">@item.Id</td>
                                <td class="">@item.DoorStyle.Description</td>
                                <td class="">@item.Material.Description</td>
                                <td class="">@item.OutsideEdgeProfile.Description</td>
                                <td class="">@item.InsideEdgeProfile.Description</td>
                                <td class="">@item.Panel.Description</td>
                                <td class="">@item.Status.Description</td>
                                <td class="">
                                    <center>
                                        <a href="#" value="@item.Id" data-toggle="modal" data-target="#modalInsert" class="Modificar btn btn-primary btn-icon">
                                            <div><i class="fa fa-edit"></i></div>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="pd-xs-x-15 pd-y-10">
                                <h3 id="lblTitulo" class="tx-inverse  mg-b-5">Insert new</h3>
                                <p id="lblSubTitulo">Select the configuration of the new door</p>
                                <div class="row" style="margin:0">
                                <div id="divContenedor" style="display:flex; height: 360px">                                    
                                        <div style="overflow-y: auto;height: 100%;">
                                            <div class="row" style="margin:0">
                                                <input hidden id="inId"/>
                                                <div class="col-xs-4 col-md-5">
                                                    <label for="cbMaterial" style="margin-top: 25px;">Wood Species: </label>
                                                    <select style="width:100%" class="form-control select2" id="cbMaterial" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-5">
                                                <label for="inDoorStyle" style="margin-top: 25px;">Door Style: </label>
                                                    <select style="width:100%" class="form-control select2 Doors" id="cbDoorStyle" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-3 col-md-9">
                                                    <label for="inDescription" style="margin-top: 25px;">Door Place: </label>
                                                    <div class="radio" id="isOverlay" style="display:flex">

                                                    </div>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                    <label for="inInsideEdgeProfile" style="margin-top: 25px;">Inside Edge P.: </label>
                                                    <select style="width:100%" class="form-control select2 Profile Doors" id="cbInsideEdgeProfile" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                    <label for="inOutsideEdgeProfile" style="margin-top: 25px;">Outside Edge P.: </label>
                                                    <select style="width:100%" class="form-control select2 Profile Doors" id="cbOutsideEdgeProfile" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                    <label for="inTopRail" style="margin-top: 25px;">Stile Width: </label>
                                                    <select style="width:100%" class="form-control select2 Doors" id="cbStileWidth" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                    <label for="inBottomRail" style="margin-top: 25px;">Rail Width: </label>
                                                    <select style="width:100%" class="form-control select2 Doors" id="cbRailWidth" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                    <label for="inJoin" style="margin-top: 25px;">Door Assembly: </label>
                                                    <select style="width:100%" class="form-control select2 Doors" id="cbDoorAssembly" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                <label for="inPanel" style="margin-top: 25px;">Panel: </label>
                                                    <select style="width:100%" class="form-control select2 Doors" id="cbPanel" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                <label for="inPanelMaterial" style="margin-top: 25px;">Panel Material: </label>
                                                    <select style="width:100%" class="form-control select2" id="cbPanelMaterial" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-3 col-md-3">
                                                    <label for="FingerPull" style="margin-top: 25px;">Finger Pull: </label>
                                                    <select style="width:100%" class="form-control selectModal select2" id="cbFingerPull">
                                                        <option value="1">No</option>
                                                        <option value="2">Yes</option>
                                                </select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-4">
                                                    <label for="inVerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                                                    <select style="width:100%" class="form-control select2" id="cbVerticalDivisions" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                                <div class="col-xs-4 col-md-5">
                                                    <label for="inHorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                                                    <select style="width:100%" class="form-control select2" id="cbHorizontalDivisions" data-placeholder="Select"></select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                    <label for="inStatus" style="margin-top: 25px;">Status: </label>
                                                    <select style="width:100%" class="form-control select2" id="cbStatus" data-placeholder="Select"></select>
                                            </div><!-- form-group -->
                                            </div>
                                        </div><!-- pd-20 -->
                                            
                                    <div style="display:flex; justify-content:center; align-items:center">
                                        <div class="row" id="rowIMG" style="margin:0">
                                            <div id="Picture" class="row" style="margin-right: 0px;">
                                                <center>
                                                    <img style="width: 230px;height: 230px;" id="DoorPicture" src="~/Content/img/Doors/img11.png"/>                                                    
                                                </center>
                                            </div>
                                                </div>
                                                </div>
                                        </div>
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer justify-content-lg-end">
                                <button type="button" id="btnUpdateDoors" class="Cursor btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Modify</button>
                                <button type="button" @*onclick="this.disabled = true"*@ @*onclick="this.disabled = true; SubirArchivo"*@ id="btInsertDoors" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                                <button type="button" class="Cursor btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
        var urlGetAllDoorStyle = '@Url.Action("GetDoorStyle", "Masters")';
        var urlGetAllMaterial = '@Url.Action("GetMaterial", "Masters")';
        var urlGetAllTopRail = '@Url.Action("GetTopRail", "Masters")';
        var urlGetAllBottomRail = '@Url.Action("GetBottomRail", "Masters")';
        var urlGetAllPreparation = '@Url.Action("GetPreparation", "Masters")';
        var urlGetAllJoin = '@Url.Action("GetJoin", "Masters")';
        var urlGetAllOutsideEdgeProfile = '@Url.Action("GetOutsideEdgeProfile", "Masters")';
        var urlGetAllInsideEdgeProfile = '@Url.Action("GetInsideEdgeProfile", "Masters")';
        var urlGetAllVerticalDivisions = '@Url.Action("GetVerticalDivisions", "Masters")';
        var urlGetAllHorizontalDivisions = '@Url.Action("GetHorizontalDivisions", "Masters")';
        var urlGetAllHingeDirection = '@Url.Action("GetAllHingeDirection", "Masters")';
        var urlGetAllPanel = '@Url.Action("GetPanel", "Masters")';
        var urlGetAllPanelMaterial = '@Url.Action("GetPanelMaterial", "Masters")';
        var urlGetAllStatus = '@Url.Action("GetStatus", "Masters")';
        var urlInsertDoors = '@Url.Action("InsertDoors", "Masters")';
        var urlUpdateDoors = '@Url.Action("UpdateDoors", "Masters")';
        var urlGetAllDoors = '@Url.Action("GetAllDoors", "Masters")';
        var ListDoors = JSON.parse('@Html.Raw(ViewBag.ListDoors)');

    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    @Scripts.Render("~/Scripts/js/Master.Doors.js")
    
}
