
@{
    ViewBag.Title = "Doors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <a class="breadcrumb-item" href="#">Masters</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->
@*<link href="~/Content/lib/select2/css/select2.min.css" rel="stylesheet" />*@
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">Doors</h4>
                        <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
                    </div>
                    <div class="col-md-1">
                        <button type="button" data-toggle="modal" data-target="#modalInsert" id="btInsert" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="First name: activate to sort column ascending">Id</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Door Style</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Material</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Outside Edge Profile</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Inside Edge Profile</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Panel</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Status</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center" aria-label="Last name: activate to sort column ascending"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model.Doors item in ViewBag.mDoors)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="">@item.Id</td>
                                <td class="">@item.DoorStyle.Description</td>
                                <td class="">@item.Material.Description</td>
                                <td class="">@item.OutsideEdgeProfile.Description</td>
                                <td class="">@item.InsideEdgeProfile.Description</td>
                                <td class="">@item.Panel.Description</td>
                                <td class="">@item.Status.Description</td>
                                <td class="">
                                    <center>
                                        <a href="#" data-toggle="modal" data-target="#modalInsert" class="Modificar btn btn-primary btn-icon">
                                            <div><i class="fa fa-edit"></i></div>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="pd-xs-x-15 pd-y-10">
                                <h3 id="lblTitulo" class="tx-inverse  mg-b-5">Insert new</h3>
                                <p id="lblSubTitulo">You can create a new article below</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-3">
                                                <label for="Id" style="margin-top: 25px;">Id: </label>
                                                <input type="text" id="inId" class="form-control" readonly placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbDoorStyle" style="margin-top: 25px;">Door Style: </label>
                                                <select style="width:100%" class="form-control select2" id="inDoorStyle" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.DoorStyle item in ViewBag.cbDoorStyle)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="Material" style="margin-top: 25px;">Material: </label>
                                                <select style="width:100%" class="form-control select2" id="inMaterial" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.Material item in ViewBag.cbMatarial)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbTopRail" style="margin-top: 25px;">Top Rail: </label>
                                                <select style="width:100%" class="form-control select2" id="inTopRail" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.TopRail item in ViewBag.cbTopRail)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbBottomRail" style="margin-top: 25px;">Bottom Rail: </label>
                                                <select style="width:100%" class="form-control select2" id="inBottomRail" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.BottomRail item in ViewBag.cbBottomRail)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbPreparation" style="margin-top: 25px;">Grade: </label>
                                                <select style="width:100%" class="form-control select2" id="inPreparation" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.Preparation item in ViewBag.cbPreparation)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbJoin" style="margin-top: 25px;">Join: </label>
                                                <select style="width:100%" class="form-control select2" id="inJoin" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.Join item in ViewBag.cbJoin)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbOutsideEdgeProfile" style="margin-top: 25px;">Outside Edge Profile: </label>
                                                <select style="width:100%" class="form-control select2" id="inOutsideEdgeProfile" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.OutsideEdgeProfile item in ViewBag.cbOutsideEdgeProfile)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbInsideEdgeProfile" style="margin-top: 25px;">Inside Edge Profile: </label>
                                                <select style="width:100%" class="form-control select2" id="inInsideEdgeProfile" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.InsideEdgeProfile item in ViewBag.cbInsideEdgeProfile)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbVerticalDivisions" style="margin-top: 25px;">Vertical Divisions: </label>
                                                <select style="width:100%" class="form-control select2" id="inVerticalDivisions" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.VerticalDivisions item in ViewBag.cbVerticalDivisions)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Quantity</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbHorizontalDivisions" style="margin-top: 25px;">Horizontal Divisions: </label>
                                                <select style="width:100%" class="form-control select2" id="inHorizontalDivisions" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.HorizontalDivisions item in ViewBag.cbHorizontalDivisions)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Quantity</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbPanel" style="margin-top: 25px;">Panel: </label>
                                                <select style="width:100%" class="form-control select2" id="inPanel" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.Panel item in ViewBag.cbPanel)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbPanelMaterial" style="margin-top: 25px;">Panel Material: </label>
                                                <select style="width:100%" class="form-control select2" id="inPanelMaterial" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.PanelMaterial item in ViewBag.cbPanelMaterial)
                                                    {
                                                        if (item.Status.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="Width" style="margin-top: 25px;">Width: </label>
                                                <input type="text" id="inWidth" name="Width" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="Height" style="margin-top: 25px;">Height: </label>
                                                <input type="text" id="inHeight" name="Height" class="txtHeight form-control" placeholder="">
                                            </div><!-- form-group -->

                                            @*<div class="col-xs-4 col-md-3">
                                                <label for="isDrill" style="margin-top: 25px;">Drill: </label>
                                                <select style="width:100%" class="form-control select2" id="inDrill" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    <option value="false">No Drill</option>
                                                    <option value="true">Drill</option>
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="cbHingeDirection" style="margin-top: 25px;">Hinge Direction: </label>
                                                <select style="width:100%" class="form-control select2" id="inHingeDirection" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    <option hidden selected value="3">No hinge</option>
                                                    <option value="1">Right</option>
                                                    <option value="2">Left</option>
                                                </select>
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HingePositions1" style="margin-top: 25px;">Hinge Position 1: </label>
                                                <input disabled type="text" id="HingePositions1" class="form-control" placeholder="">
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HingePositions2" style="margin-top: 25px;">Hinge Position 2: </label>
                                                <input disabled type="text" id="HingePositions2" class="form-control" placeholder="">
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HingePositions3" style="margin-top: 25px;">Hinge Position 3: </label>
                                                <input disabled type="text" id="HingePositions3" class="form-control" placeholder="">
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HingePositions4" style="margin-top: 25px;">Hinge Position 4: </label>
                                                <input disabled type="text" id="HingePositions4" class="form-control" placeholder="">
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3">
                                                <label for="HingePositions5" style="margin-top: 25px;">Hinge Position 5: </label>
                                                <input disabled type="text" id="HingePositions5" class="form-control" placeholder="">
                                            </div><!-- form-group -->*@

                                            
                                            <div class="col-xs-4 col-md-3">
                                                @*@using (Html.BeginForm("subir", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                <label for="Picture" style="margin-top: 25px;">Picture: </label>
                                                <div style="padding-bottom: 12px;padding-top: 12px;height: 43px;" id="inPicture" class="form-control bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
                                                    <p id="texto">Add file</p>
                                                    <input id="btn_enviar" name="file" type="file">
                                                </div>
                                                }*@
                                                <label for="Picture" style="margin-top: 25px;">Picture</label>
                                                <input type="text" id="inPicture" class="form-control" placeholder="" />
                                            </div><!-- form-group -->
                                            

                                            <div class="col-xs-4 col-md-3" style="padding-top: 20px;">
                                                @*@using (Html.BeginForm("subir", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                <label for="ProfilePicture" style="margin-top: 25px;">Profile Picture: </label>
                                                <div style="padding-bottom: 12px;padding-top: 12px;height: 43px;" id="inProfilePicture" class="form-control bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
                                                    <p id="texto">Add file</p>
                                                    <input id="btn_enviar" name="file" type="file">
                                                </div>
                                                }*@
                                                <label for="ProfilePicture" style="margin-top: 25px;">Profile picture</label>
                                                <input type="text" id="inProfilePicture" class="form-control" placeholder="" />
                                            </div><!-- form-group -->

                                            <div class="col-xs-4 col-md-3" style="padding-top: 20px;">
                                                <label for="Template" style="margin-top: 25px;">Status: </label>
                                                <select style="width:100%" class="form-control select2" id="inStatus" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    @foreach (Model.Status item in ViewBag.mStatus)
                                                    {
                                                        if (item.Group.Id == 1)
                                                        {
                                                            <option value="@item.Id">@item.Description</option>
                                                        }
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-3">
                                                <label for="isOpeningMeasurement" style="margin-top: 25px;">Opening Measurement: </label>
                                                <select style="width:100%" class="form-control select2" id="inOpeningMeasurement" data-placeholder="Select">
                                                    <option label="Select"></option>
                                                    <option value="true">Opening</option>
                                                    <option value="false">No Opening</option>
                                                </select>
                                            </div><!-- form-group -->


                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer justify-content-lg-end">
                                <button type="button" onclick="this.disabled=true;" id="btnUpdateDoors" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Modify</button>
                                <button type="button" onclick="this.disabled = true" @*onclick="this.disabled = true; SubirArchivo"*@ id="btInsertDoors" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
        var urlInsertDoors = '@Url.Action("InsertDoors", "Masters")';
        var urlUpdateDoors = '@Url.Action("UpdateDoors", "Masters")';
        var ListDoors = JSON.parse('@Html.Raw(ViewBag.ListDoors)');
    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    @Scripts.Render("~/Scripts/js/Master.Doors.js")
    
}
