
@{
    ViewBag.Title = "Hinge Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <a class="breadcrumb-item" href="#">Masters</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">Hinge Positions</h4>
                        <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
                    </div>
                    <div class="col-md-1">
                        <button type="button" data-toggle="modal" data-target="#modalInsert" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="First name: activate to sort column ascending">Id</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Position 1</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Position 2</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Position 3</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Position 4</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Position 5</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Status</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center" aria-label="Last name: activate to sort column ascending"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model.HingePositions item in ViewBag.mHingePositions)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="">@item.Id</td>
                                <td class="">@item.Position1</td>
                                <td class="">@item.Position2</td>
                                <td class="">@item.Position3</td>
                                <td class="">@item.Position4</td>
                                <td class="">@item.Position5</td>
                                <td class="">@item.Status.Description</td>
                                <td class="">
                                    <center>
                                        <a href="#" data-toggle="modal" data-target="#modalModify" value="@item.Id" class="Modificar btn btn-primary btn-icon">
                                            <div><i class="fa fa-edit"></i></div>
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#modaldemo2" value="@item.Id" class="Eliminar btn btn-danger btn-icon">
                                            <div><i class="fa fa-trash"></i></div>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="pd-xs-x-15 pd-y-10">
                                <h3 class="tx-inverse  mg-b-5">Insert new</h3>
                                <p>You can create a new article below</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Id: </label>
                                                <input type="text" id="inId" name="id" class="form-control" readonly placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 1: </label>
                                                <input type="text" name="id" id="inPosition" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 2: </label>
                                                <input type="text" name="id" id="inPosition2" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 3: </label>
                                                <input type="text" name="id" id="inPosition3" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 4: </label>
                                                <input type="text" name="id" id="inPosition4" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 5: </label>
                                                <input type="text" name="id" id="inPosition5" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="inStatus" style="margin-top: 25px;">Status: </label>
                                                <select style="width:100%" class="form-control select2" id="inStatus" data-placeholder="">
                                                    <option value="0">select</option>
                                                    @foreach (Model.Status item in ViewBag.mStatus)
                                                    {
                                                        <option value="@item.Id">@item.Description</option>
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer justify-content-lg-end">
                                <button type="button" id="btnInsertHP" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div id="modalModify" class="modal fade effect-scale" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="pd-xs-x-15 pd-y-10">
                                <h3 class="tx-inverse  mg-b-5">Modify</h3>
                                <p>You can modify a new article below</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Id: </label>
                                                <input type="text" name="Identificador" value="@ViewBag.IdItem" id="txtId" class="form-control" readonly placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 1: </label>
                                                <input type="text" name="id" id="txtPosition" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 2: </label>
                                                <input type="text" name="id" id="txtPosition2" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 3: </label>
                                                <input type="text" name="id" id="txtPosition3" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 4: </label>
                                                <input type="text" name="id" id="txtPosition4" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="Template" style="margin-top: 25px;">Position 5: </label>
                                                <input type="text" name="id" id="txtPosition5" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="IdStatus" style="margin-top: 25px;">Status: </label>
                                                <select style="width:100%" class="form-control select2" id="IdStatus" data-placeholder="">
                                                    @foreach (Model.Status item in ViewBag.mStatus)
                                                    {
                                                        <option value="@item.Id">@item.Description</option>
                                                    }
                                                </select>
                                            </div><!-- form-group -->
                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer justify-content-lg-end">
                                <button type="button" id="btnUpdateHingePosi" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Modify</button>
                                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div id="modaldemo2" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content bd-0 tx-14">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Warning!</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body pd-20">
                <p class="mg-b-5">You are about to delete an article. What would you like to do?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Remove</button>
                <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div>

<div id="modalCongra" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" onclick="window.location.reload()" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<div id="modalError" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger  tx-semibold mg-b-20">Error: Cannot process your entry!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
    var urlInserHingePositions = '@Url.Action("InserHingePositions", "Masters")';
    var urlUpdateHingePositions = '@Url.Action("UpdateHingePositions", "Masters")';
    </script>
    <script>
        $(function () {
            'use strict';

            $('#datatable1').DataTable({
                responsive: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '',
                    lengthMenu: '_MENU_ items/page',
                }
            });

            $('#datatable2').DataTable({
                bLengthChange: false,
                searching: false,
                responsive: true
            });

            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

        });
    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    @Scripts.Render("~/Scripts/js/Masters.js")
    <script type="text/javascript">

        $(document).ready(function () {
            var listHP = JSON.parse('@Html.Raw(ViewBag.ListHingePositions)');
            $(document).on('click', '.Modificar', function (event) {
                for (var i = 0; i < listHP.length; i++) {
                    if (listHP[i].Id == $(this).attr('value')) {
                        $('#txtId').val(listHP[i].Id);
                        $('#txtPosition').val(listHP[i].Position1);
                        $('#txtPosition2').val(listHP[i].Position2);
                        $('#txtPosition3').val(listHP[i].Position3);
                        $('#txtPosition4').val(listHP[i].Position4);
                        $('#txtPosition5').val(listHP[i].Position5);
                        $('#IdStatus').val(listHP[i].Status.Id);
                    }
                }
            });


        });

    </script>
}