
@{
    ViewBag.Title = "Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="/">Venus Doors</a>
        <a class="breadcrumb-item" href="#">Masters</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">@ViewBag.Title</h4>
                        <p class="mg-b-0">Modals are streamlined, but flexible, dialog prompts with the minimum required functionality and smart defaults.</p>
                    </div>
                    <div class="col-md-1">
                        <button type="button" id="btInsert" data-toggle="modal" data-target="#modalInsert" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <div id="datatable1_wrapper" class="dataTables_wrapper no-footer">
                <table id="datatable1" style="width: 100%;" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable1_info">
                    <thead>
                        <tr>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="First name: activate to sort column ascending">Id</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Description</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" aria-label="Last name: activate to sort column ascending">Group</th>
                            <th class="wd-15p sorting" tabindex="0" aria-controls="datatable1" rowspan="1" colspan="1" style="text-align: center" aria-label="Last name: activate to sort column ascending"><i class="fa fa-flash"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Model.Type item in ViewBag.mType)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="">@item.Id</td>
                                <td class="">@item.Description</td>
                                <td class="">@item.Group.Description</td>
                                <td class="">
                                    <center>
                                        <a href="#" data-toggle="modal" data-target="#modalInsert" value="@item.Id" class="Modificar btn btn-primary btn-icon">
                                            <div><i class="fa fa-edit"></i></div>
                                        </a>
                                    </center>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- table-wrapper -->
    </div>
</div>

<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>

<div id="modalInsert" class="modal fade effect-scale" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-12">
                        <div class="pd-30">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="pd-xs-x-15 pd-y-10">
                                <h3 id="lblTitulo" class="tx-inverse  mg-b-5">Insert new</h3>
                                <p id="lblSubTitulo">You can create a new article below</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4 col-md-4">
                                                <label for="intId" style="margin-top: 25px;">Id: </label>
                                                <input type="text" name="id" id="intId" class="form-control" readonly placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="inDescription" style="margin-top: 25px;">Description: </label>
                                                <input type="text" onkeypress="return soloLetras(event)" id="inName" minlength="3" maxlength="15" name="id" id="inDescription" class="form-control" placeholder="">
                                            </div><!-- form-group -->
                                            <div class="col-xs-4 col-md-4">
                                                <label for="inGroup" style="margin-top: 25px;">Group: </label>
                                                <select style="width: 100%;" class="form-control select2" id="inGroup" data-placeholder="">
                                                </select>
                                            </div><!-- form-group -->
                                        </div>
                                    </div><!-- pd-20 -->
                                </div><!-- col-6 -->
                            </div><!-- row -->
                            <div class="modal-footer justify-content-lg-end">
                                <button type="button" id="btnUpdateType" class="Cursor btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Modify</button>
                                <button type="button" id="btInsertType" class="Cursor btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Insert</button>
                                <button type="button" class="Cursor btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- modal-body -->
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{
    <script>
        var urlGetAllGroup = '@Url.Action("GetGroup", "Masters")';
        var urlInsertType = '@Url.Action("InsertType", "Masters")';
        var urlUpdateType = '@Url.Action("UpdateType", "Masters")';
        var listTy = JSON.parse('@Html.Raw(ViewBag.ListType)');
        var urlGetAllType = '@Url.Action("GetAllType", "Masters")';
    </script>
    <script src="~/Content/lib/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="~/Content/lib/select2/js/select2.min.js"></script>
    @Scripts.Render("~/Scripts/js/Master.Type.js")
}