
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="br-pagebody pd-x-20 pd-sm-x-30 ">
        <div class="col-4">
            <div class="row row-sm mg-t-20">
                <div class="card bg-transparent shadow-base bd-0 mg-t-20">
                    <div class="bg-primary rounded-top">
                        <div class="pd-l-30 pd-t-30 ">
                            <h6 class="tx-13 tx-uppercase tx-white tx-semibold tx-spacing-1">Sale Status</h6>
                            <div class="row">


                                <div class="col-md-6">

                                    <p class="mg-b-20 tx-white-6">@ViewBag.lblMesAnterior / @DateTime.Today.Year</p>
                                    <h3 class="tx-lato tx-white mg-b-0">
                                        @ViewBag.MesAnterior

                                    </h3>
                                </div>
                                <div class="col-md-6">
                                    <p class="mg-b-20 tx-white-6">@ViewBag.lblMes / @DateTime.Today.Year</p>
                                    <h3 class="tx-lato tx-white mg-b-0">
                                        @ViewBag.Mes
                                        @if (ViewBag.Estado)
                                        {
                                            <i class="icon ion-android-arrow-up tx-white-5"></i>
                                        }
                                        else { <i class="icon ion-android-arrow-down tx-white-5"></i> }
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div id="chartLine1" class="wd-100p ht-150 rickshaw_graph"><svg width="339" height="150"><g><path d="M0,56.25Q22.6,30.999999999999993,26.076923076923077,29.999999999999993C31.29230769230769,28.499999999999993,46.93846153846154,36.75,52.15384615384615,41.25S73.01538461538463,74.25,78.23076923076924,75S99.0923076923077,49.68749999999999,104.3076923076923,48.74999999999999S125.16923076923077,62.0625,130.3846153846154,65.625S151.24615384615387,82.5,156.46153846153848,84.375S177.3230769230769,86.25,182.53846153846152,84.375S203.4,68.4375,208.6153846153846,65.625S229.47692307692307,56.25,234.69230769230768,56.25S255.55384615384617,63.75,260.7692307692308,65.625S281.63076923076926,76.875,286.84615384615387,75S307.70769230769235,49.6875,312.92307692307696,46.875Q316.40000000000003,45,339,46.875L339,75Q316.40000000000003,83.125,312.92307692307696,84.375C307.70769230769235,86.25,292.0615384615385,90.9375,286.84615384615387,93.75S265.9846153846154,113.4375,260.7692307692308,112.5S239.9076923076923,85.3125,234.69230769230768,84.375S213.83076923076922,100.3125,208.6153846153846,103.125S187.75384615384613,112.5,182.53846153846152,112.5S161.6769230769231,106.875,156.46153846153848,103.125S135.6,76.3125,130.3846153846154,75S109.52307692307691,86.25,104.3076923076923,90S83.44615384615385,112.125,78.23076923076924,112.5S57.36923076923077,96.5625,52.15384615384615,93.75S31.29230769230769,84.375,26.076923076923077,84.375Q22.6,84.375,0,93.75Z" class="area" fill="rgba(255,255,255,0.4)"></path></g><g><path d="M0,93.75Q22.6,84.375,26.076923076923077,84.375C31.29230769230769,84.375,46.93846153846154,90.9375,52.15384615384615,93.75S73.01538461538463,112.875,78.23076923076924,112.5S99.0923076923077,93.75,104.3076923076923,90S125.16923076923077,73.6875,130.3846153846154,75S151.24615384615387,99.375,156.46153846153848,103.125S177.3230769230769,112.5,182.53846153846152,112.5S203.4,105.9375,208.6153846153846,103.125S229.47692307692307,83.4375,234.69230769230768,84.375S255.55384615384617,111.5625,260.7692307692308,112.5S281.63076923076926,96.5625,286.84615384615387,93.75S307.70769230769235,86.25,312.92307692307696,84.375Q316.40000000000003,83.125,339,75L339,150Q316.40000000000003,150,312.92307692307696,150C307.70769230769235,150,292.0615384615385,150,286.84615384615387,150S265.9846153846154,150,260.7692307692308,150S239.9076923076923,150,234.69230769230768,150S213.83076923076922,150,208.6153846153846,150S187.75384615384613,150,182.53846153846152,150S161.6769230769231,150,156.46153846153848,150S135.6,150,130.3846153846154,150S109.52307692307691,150,104.3076923076923,150S83.44615384615385,150,78.23076923076924,150S57.36923076923077,150,52.15384615384615,150S31.29230769230769,150,26.076923076923077,150Q22.6,150,0,150Z" class="area" fill="#1061b4"></path></g></svg></div>
                    </div>
                    <div class="bg-white pd-20 rounded-bottom d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start">
                            <div><span id="sparkline6"><canvas width="41" height="40" style="display: inline-block; width: 41px; height: 40px; vertical-align: top;"></canvas></span></div>
                            <div class="mg-l-15">
                                <label class="tx-uppercase tx-10 tx-medium tx-spacing-1 mg-b-0">Average Sales</label>
                                <h6 class="tx-inverse mg-b-0 tx-lato tx-bold">@ViewBag.MejorMes</h6>
                            </div>
                        </div><!-- d-flex -->
                        <div class="d-flex align-items-center">
                            <div><span id="sparkline7"><canvas width="41" height="40" style="display: inline-block; width: 41px; height: 40px; vertical-align: top;"></canvas></span></div>
                            <div class="mg-l-15">
                                <label class="tx-uppercase tx-10 tx-medium tx-spacing-1 mg-b-0">Total Sales</label>
                                <h6 class="tx-inverse mg-b-0 tx-lato tx-bold">@ViewBag.TotalHistorico</h6>
                            </div>
                        </div><!-- d-flex -->
                    </div><!-- d-flex -->
                </div>
            </div>
        </div>
</div>*@
<div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Dashboard</h4>
    <p class="mg-b-0">Do big things with Bracket, the responsive bootstrap 4 admin template.</p>
</div>
<div class="br-pagebody mg-t-5 pd-x-30">
    <div class="row row-sm">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-teal rounded overflow-hidden">
                <div class="pd-25 d-flex align-items-center">
                    <i class="ion ion-load-a tx-60 lh-0 tx-white op-7"></i>
                    <div class="mg-l-20">
                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Doors Pending</p>
                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@ViewBag.Doors.DoorPending</p>
                        <span class="tx-11 tx-roboto tx-white-6">@ViewBag.DoorPending</span>
                    </div>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
            <div class="bg-danger rounded overflow-hidden">
                <div class="pd-25 d-flex align-items-center">
                    <i class="ion ion-clock tx-60 lh-0 tx-white op-7"></i>
                    <div class="mg-l-20">
                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Approved doors</p>
                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@ViewBag.Doors.DoorApprove</p>
                        <span class="tx-11 tx-roboto tx-white-6">@ViewBag.DoorApprove</span>
                    </div>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
            <div class="bg-primary rounded overflow-hidden">
                <div class="pd-25 d-flex align-items-center">
                    <i class="ion ion-ios-gear-outline tx-60 lh-0 tx-white op-7"></i>
                    <div class="mg-l-20">
                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Doors in Process</p>
                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@ViewBag.Doors.DoorInProcess</p>
                        <span class="tx-11 tx-roboto tx-white-6">@ViewBag.DoorInProcess</span>
                    </div>
                </div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
            <div class="bg-br-primary rounded overflow-hidden">
                <div class="pd-25 d-flex align-items-center">
                    <i class="ion ion-checkmark tx-60 lh-0 tx-white op-7"></i>
                    <div class="mg-l-20">
                        <p class="tx-10 tx-spacing-1 tx-mont tx-medium tx-uppercase tx-white-8 mg-b-10">Completed Doors</p>
                        <p class="tx-24 tx-white tx-lato tx-bold mg-b-2 lh-1">@ViewBag.Doors.DoorCompleted</p>
                        <span class="tx-11 tx-roboto tx-white-6">@ViewBag.DoorCompleted</span>
                    </div>
                </div>
            </div>
        </div><!-- col-3 -->
    </div><!-- row -->

    <div class="row row-sm mg-t-20">

        <div class="col-sm-6 col-xl-4">
            <div class="card bd-0 shadow-base pd-30">
                <h6 class="tx-13 tx-uppercase tx-inverse tx-semibold tx-spacing-1">Order Status</h6>
                <p class="mg-b-25">Summary of the status of your order.</p>
                <label class="tx-12 tx-gray-600 mg-b-10">Active order (@ViewBag.Doors.Active)</label>
                <div class="progress ht-5 mg-b-10">
                    <div class="progress-bar @ViewBag.Active" role="progressbar" aria-valuenow="@ViewBag.Doors.Active" aria-valuemin="0" aria-valuemax="@ViewBag.totalOrdenes"></div>
                </div>
                <label class="tx-12 tx-gray-600 mg-b-10">Pending Order to Approve (@ViewBag.Doors.Pending)</label>
                <div class="progress ht-5 mg-b-10">
                    <div class="progress-bar bg-teal @ViewBag.Pending" role="progressbar" aria-valuenow="@ViewBag.Doors.Pending" aria-valuemin="0" aria-valuemax="@ViewBag.totalOrdenes"></div>
                </div>
                <label class="tx-12 tx-gray-600 mg-b-10">Approved Order (@ViewBag.Doors.Approve)</label>
                <div class="progress ht-5 mg-b-10">
                    <div class="progress-bar bg-danger @ViewBag.Approve" role="progressbar" aria-valuenow="(@ViewBag.Doors.Approve" aria-valuemin="0" aria-valuemax="@ViewBag.totalOrdenes"></div>
                </div>
                <label class="tx-12 tx-gray-600 mg-b-10">Order in Process (@ViewBag.Doors.InProcess)</label>
                <div class="progress ht-5 mg-b-10">
                    <div class="progress-bar bg-warning @ViewBag.InProcess" role="progressbar" aria-valuenow="@ViewBag.Doors.InProcess" aria-valuemin="0" aria-valuemax="@ViewBag.totalOrdenes"></div>
                </div>
                <label class="tx-12 tx-gray-600 mg-b-10">Order Completed (@ViewBag.Doors.Completed)</label>
                <div class="progress ht-5 mg-b-10">
                    <div class="progress-bar bg-info @ViewBag.Completed" role="progressbar" aria-valuenow="@ViewBag.Doors.Completed" aria-valuemin="0" aria-valuemax="@ViewBag.totalOrdenes"></div>
                </div>
                <div class="mg-t-20 tx-13">
                    <a href="" class="tx-gray-600 hover-info">View Orders</a>
                </div>
            </div><!-- card -->
        </div><!-- col-3 -->
       
        <div class="col-sm-6 col-xl-4">
            <div class="bg-primary rounded-top">
                <div class="pd-l-30 pd-t-30 ">
                    <h6 class="tx-13 tx-uppercase tx-white tx-semibold tx-spacing-1">Sale Status</h6>
                    <div class="row row-sm">
                        <div class="col-md-6">
                            <p class="mg-b-20 tx-white-6">@ViewBag.lblMesAnterior / @DateTime.Today.Year</p>
                            <h3 class="tx-lato tx-white mg-b-0">
                                @ViewBag.MesAnterior
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <p class="mg-b-20 tx-white-6">@ViewBag.lblMes / @DateTime.Today.Year</p>
                            <h3 class="tx-lato tx-white mg-b-0">
                                @ViewBag.Mes
                                @if (ViewBag.Estado)
                                {
                                    <i class="icon ion-android-arrow-up tx-white-5"></i>
                                }
                                else { <i class="icon ion-android-arrow-down tx-white-5"></i> }
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="chartLine1" class="wd-100p ht-150 rickshaw_graph"><svg width="339" height="150"><g><path d="M0,56.25Q22.6,30.999999999999993,26.076923076923077,29.999999999999993C31.29230769230769,28.499999999999993,46.93846153846154,36.75,52.15384615384615,41.25S73.01538461538463,74.25,78.23076923076924,75S99.0923076923077,49.68749999999999,104.3076923076923,48.74999999999999S125.16923076923077,62.0625,130.3846153846154,65.625S151.24615384615387,82.5,156.46153846153848,84.375S177.3230769230769,86.25,182.53846153846152,84.375S203.4,68.4375,208.6153846153846,65.625S229.47692307692307,56.25,234.69230769230768,56.25S255.55384615384617,63.75,260.7692307692308,65.625S281.63076923076926,76.875,286.84615384615387,75S307.70769230769235,49.6875,312.92307692307696,46.875Q316.40000000000003,45,339,46.875L339,75Q316.40000000000003,83.125,312.92307692307696,84.375C307.70769230769235,86.25,292.0615384615385,90.9375,286.84615384615387,93.75S265.9846153846154,113.4375,260.7692307692308,112.5S239.9076923076923,85.3125,234.69230769230768,84.375S213.83076923076922,100.3125,208.6153846153846,103.125S187.75384615384613,112.5,182.53846153846152,112.5S161.6769230769231,106.875,156.46153846153848,103.125S135.6,76.3125,130.3846153846154,75S109.52307692307691,86.25,104.3076923076923,90S83.44615384615385,112.125,78.23076923076924,112.5S57.36923076923077,96.5625,52.15384615384615,93.75S31.29230769230769,84.375,26.076923076923077,84.375Q22.6,84.375,0,93.75Z" class="area" fill="rgba(255,255,255,0.4)"></path></g><g><path d="M0,93.75Q22.6,84.375,26.076923076923077,84.375C31.29230769230769,84.375,46.93846153846154,90.9375,52.15384615384615,93.75S73.01538461538463,112.875,78.23076923076924,112.5S99.0923076923077,93.75,104.3076923076923,90S125.16923076923077,73.6875,130.3846153846154,75S151.24615384615387,99.375,156.46153846153848,103.125S177.3230769230769,112.5,182.53846153846152,112.5S203.4,105.9375,208.6153846153846,103.125S229.47692307692307,83.4375,234.69230769230768,84.375S255.55384615384617,111.5625,260.7692307692308,112.5S281.63076923076926,96.5625,286.84615384615387,93.75S307.70769230769235,86.25,312.92307692307696,84.375Q316.40000000000003,83.125,339,75L339,150Q316.40000000000003,150,312.92307692307696,150C307.70769230769235,150,292.0615384615385,150,286.84615384615387,150S265.9846153846154,150,260.7692307692308,150S239.9076923076923,150,234.69230769230768,150S213.83076923076922,150,208.6153846153846,150S187.75384615384613,150,182.53846153846152,150S161.6769230769231,150,156.46153846153848,150S135.6,150,130.3846153846154,150S109.52307692307691,150,104.3076923076923,150S83.44615384615385,150,78.23076923076924,150S57.36923076923077,150,52.15384615384615,150S31.29230769230769,150,26.076923076923077,150Q22.6,150,0,150Z" class="area" fill="#1061b4"></path></g></svg></div>
            </div>
            <div class="bg-white pd-20 rounded-bottom d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-start">
                    <div><span id="sparkline6"><canvas width="41" height="40" style="display: inline-block; width: 41px; height: 40px; vertical-align: top;"></canvas></span></div>
                    <div class="mg-l-15">
                        <label class="tx-uppercase tx-10 tx-medium tx-spacing-1 mg-b-0">Average Sales</label>
                        <h6 class="tx-inverse mg-b-0 tx-lato tx-bold">@ViewBag.MejorMes</h6>
                    </div>
                </div><!-- d-flex -->
                <div class="d-flex align-items-center">
                    <div><span id="sparkline7"><canvas width="41" height="40" style="display: inline-block; width: 41px; height: 40px; vertical-align: top;"></canvas></span></div>
                    <div class="mg-l-15">
                        <label class="tx-uppercase tx-10 tx-medium tx-spacing-1 mg-b-0">Total Sales</label>
                        <h6 class="tx-inverse mg-b-0 tx-lato tx-bold">@ViewBag.TotalHistorico</h6>
                    </div>
                </div><!-- d-flex -->
            </div><!-- d-flex -->
        </div>
        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="card shadow-base bd-0">
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <h6 class="card-title tx-uppercase tx-12 mg-b-0">Sales Monitoring</h6>
                    <span class="tx-12 tx-uppercase">March 2017</span>
                </div><!-- card-header -->
                <div class="card-body">
                    <p class="tx-sm tx-inverse tx-medium mg-b-0">Bracket Online Store</p>
                    <p class="tx-12"><a href="">http://bracketstore.com</a></p>
                    <div class="row align-items-center">
                        <div class="col-3 tx-12 tx-bold">Men</div><!-- col-3 -->
                        <div class="col-9">
                            <div class="progress rounded-0 mg-b-0">
                                <div class="progress-bar bg-teal wd-50p lh-3" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                            </div><!-- progress -->
                        </div><!-- col-9 -->
                    </div><!-- row -->
                    <div class="row align-items-center mg-t-5">
                        <div class="col-3 tx-12 tx-bold">Women</div><!-- col-3 -->
                        <div class="col-9">
                            <div class="progress rounded-0 mg-b-0">
                                <div class="progress-bar bg-info wd-45p lh-3" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                            </div><!-- progress -->
                        </div><!-- col-9 -->
                    </div><!-- row -->
                    <p class="tx-11 mg-b-0 mg-t-15">Notice: Lorem ipsum dolor sit amet.</p>
                </div><!-- card-body -->
            </div><!-- card -->
        </div>
        @*<div class="col-sm-6 col-xl-4">
            <div class="card bd-0 shadow-base pd-30">
                <center>
                    <div id="morrisDonut1" class="ht-200 ht-sm-250">
                        <svg height="100%" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#3d449c" d="M226.5,201.66666666666669A76.66666666666667,76.66666666666667,0,0,0,299.09407492337823,149.65518330486972" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3d449c" stroke="#ffffff" d="M226.5,204.66666666666669A79.66666666666667,79.66666666666667,0,0,0,301.9347126377713,150.61995134723418L330.65671619441224,160.37482822003045A110,110,0,0,1,226.5,235Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#268fb2" d="M299.09407492337823,149.65518330486972A76.66666666666667,76.66666666666667,0,0,0,157.74672005251153,91.0770833470932" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#268fb2" stroke="#ffffff" d="M301.9347126377713,150.61995134723418A79.66666666666667,79.66666666666667,0,0,0,155.0563743154359,89.74966486937075L123.37008007876734,74.11562502063978A115,115,0,0,1,335.39111238506734,161.98277495730457Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#74de00" d="M157.74672005251153,91.0770833470932A76.66666666666667,76.66666666666667,0,0,0,226.47591445671867,201.66666288331834" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#74de00" stroke="#ffffff" d="M155.0563743154359,89.74966486937075A79.66666666666667,79.66666666666667,0,0,0,226.4749719789381,204.6666627352743L226.46544248137897,234.99999457171762A110,110,0,0,1,127.85398964056006,76.32798915017719Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="226.5" y="115" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1.7424,0,0,1.7424,-167.7763,-93.5455)" stroke-width="0.5739130434782609"><tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Women</tspan></text><text x="226.5" y="135" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1.5972,0,0,1.5972,-135.3268,-75.8472)" stroke-width="0.6260869565217391"><tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg>
                    </div>
                </center>
            </div>
        </div>*@
    </div>

    </div><!-- row -->

@section scripts{
    <script src="~/Content/js/dashboard.js"></script>
    }