@{
    ViewBag.Title = "Home Page";
}
<div class="pd-x-30 pd-t-30">
    <h4 class="tx-gray-800 mg-b-5">Dashboard</h4>
    <p class="mg-b-0">The Bootstrap collapse plugin allows you to toggle content on your pages with a few classes thanks to some helpful javascript.</p>
</div>

<div class="br-pagebody pd-x-20 pd-sm-x-30">
    
    <div class="row row-sm mg-t-20">
        @foreach (Model.Doors item in ViewBag.ListDoors)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="bg-white rounded shadow-base overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <a data-toggle="modal" data-target="#modaldemo1" class="Door" value="@item.Id"><img  style="width: 130px;" src="@item.Picture" /></a>
                        <input type="hidden" value="@item.Id" id="hdId" />
                        <div class="mg-l-20">
                            <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">@item.Material.Description</p>
                           
                            <span class="tx-12 tx-roboto tx-gray-600 d-block">
                                Outside profile: @item.OutsideEdgeProfile.Description                               
                            </span>
                            <span class="tx-12 tx-roboto tx-gray-600 d-block">
                                Inside profile: @item.InsideEdgeProfile.Description
                            </span>
                            <span class="tx-12 tx-roboto tx-gray-600 d-block">
                                Flat Panel: @item.PanelMaterial.Description
                            </span>
                            <p class="tx-12 mg-b-0">
                               
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
       </div>

    @*<div class="row row-sm mg-t-20">
        <div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo4" style="width: 130px;" src="~/Content/img/Cabinet Vector-04.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Red Oak</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Reba<br>
                            Inside profile: Reba<br>
                            Flat Panel – Red oak beaded<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo5" style="width: 130px;" src="~/Content/img/Cabinet Vector-05.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile:	Shaker Groove<br>
                            Flat Panel – Maple<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo6" style="width: 130px;" src="~/Content/img/Cabinet Vector-06.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Double Roman Ogee<br>
                            Inside profile: Ogee<br>
                            Flat Panel – Maple<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->
    </div>

    <div class="row row-sm mg-t-20">
        <div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo7" style="width: 130px;" src="~/Content/img/Cabinet Vector-07.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Beech</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Little Bone<br>
                            Inside profile: Reba<br>
                            Raised Panel – Beech<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo8" style="width: 130px;" src="~/Content/img/Cabinet Vector-08.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Poplar</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Little Bone<br>
                            Inside profile: Ogee<br>
                            Flat Panel - MDF<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo9" style="width: 130px;" src="~/Content/img/Cabinet Vector-09.png" />
                    <div class="mg-l-20">
                        <p style="font-size:20px;" class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Red Oak - Eyebrow</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Half Reba<br>
                            Inside profile: Reba<br>
                            Raised Panel – Red Oak<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->
    </div>

    <div class="row row-sm mg-t-20">
        <div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo10" style="width: 130px;" src="~/Content/img/Cabinet Vector-10.png" />
                    <div class="mg-l-20">
                        <p style="font-size:20px;" class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Alder - Eyebrow</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile: Reba<br>
                            Raised Panel – Alder<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo11" style="width: 130px;" src="~/Content/img/Cabinet Vector-11.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Poplar</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside Profile: Finger pull<br>
                            Inside profile: Ogee<br>
                            Raised Panel – MDF<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo12" style="width: 130px;" src="~/Content/img/Cabinet Vector-12.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Red Oak</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside Profile: Shaker<br>
                            Inside Profile: Ogee<br>
                            Flat Panel – Red oak beaded<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->
    </div>

    <div class="row row-sm mg-t-20">
        <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo18" style="width: 130px;" src="~/Content/img/Cabinet Vector-18.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile: Shaker 22°<br>
                            Flat Panel - MDF<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo14" style="width: 130px;" src="~/Content/img/Cabinet Vector-14.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Finger pull<br>
                            Inside profile: Ogee<br>
                            Flat Panel – Maple<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-lg-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo15" style="width: 130px;" src="~/Content/img/Cabinet Vector-15.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile: Ogee<br>
                            Flat Panel – Maple<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->
    </div>

    <div class="row row-sm mg-t-20">
        <div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo16" style="width: 130px;" src="~/Content/img/Cabinet Vector-16.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Double Roman Ogee<br>
                            Inside profile: Ogee<br>
                            Raised Panel: Maple<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo17" style="width: 130px;" src="~/Content/img/Cabinet Vector-17.png" />
                    <div class="mg-l-20">
                        <p class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Maple</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile: Ogee<br>
                            Flat Panel – Maple beaded<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

        <div class="col-sm-6 col-lg-4">
            <div class="bg-white rounded shadow-base overflow-hidden">
                <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                    <img data-toggle="modal" data-target="#modaldemo13" style="width: 130px;" src="~/Content/img/Cabinet Vector-13.png" />
                    <div class="mg-l-20">
                        <p style="font-size:20px;" class="tx-32 tx-inverse tx-lato tx-black mg-b-0 lh-1">Poplar – Special Eyebrow</p>
                        <span class="tx-12 tx-roboto tx-gray-600">
                            Outside profile: Shaker<br>
                            Inside profile: Ogee<br>
                            Flat Panel – MDF<br>
                        </span>
                    </div>
                </div>
            </div>
        </div><!-- col-4 -->

    </div>*@

</div>
<!-- Modal -->
<div id="modaldemo1" class="modal fade animated fadeInLeftBig" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0">
            <div class="modal-body pd-0">
                <div class="row flex-row-reverse no-gutters">
                    <div class="col-lg-6" id="ModalImage">
                        <button type="button" class="close mg-t-15 mg-r-20" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <img class="img-fluid rounded-right" alt="" src="" id="ImagenModal" />
                    </div><!-- col-6 -->
                    <div class="col-lg-6 rounded-left">
                        <div class="pd-40" id="CuerpoModal">
                            
                        </div>
                    </div><!-- col-6 -->
                </div><!-- row -->

            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>


@section scripts{
<script type="text/javascript">


    $(document).ready(function () {
        var listDoors = JSON.parse('@Html.Raw(ViewBag.ListDoor)');
        $(document).on('click', '.Door', function (event) {
          SearchDoor(listDoors, $(this).attr('value'));
        });

        $(document).on('click', '.EnviarDoor', function (event) {
            console.log('@Url.Action("Index","ConfiDoor")');
            window.location.href = '@Url.Action("Index","ConfiDoor")'+'/Index/'+$(this).attr('value');
        });
    });
    function SearchDoor(data, idDoor) {
        if (data != null) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].Id == idDoor) {
                    console.log(data[i]);
                    var HTML = " <h2 class='tx-sm-56 tx-semibold tx-uppercase tx-inverse mg-b-15'>"+data[i].Material.Description+"</h2>"+
                    "<p class='mg-b-20 d-block'>Outside profile: "+data[i].OutsideEdgeProfile.Description+"</p>"+
                      "<p class='mg-b-20 d-block'>Inside profile: " + data[i].InsideEdgeProfile.Description + "</p>" +
                      "<p class='mg-b-20 d-block'>Flat Panel: " + data[i].PanelMaterial.Description + "</p>" +
                       "<p class='mg-b-20 d-block'>Top Rail: "+data[i].TopRail.Description+"</p>"+
                      "<p class='mg-b-20 d-block'>Bottom Rail: "+data[i].BottomRail.Description+"</p>"+
                    "  <p class='mg-b-20'><a class='EnviarDoor btn btn-outline-info bd-2 pd-y-12 pd-x-25 tx-uppercase tx-12 tx-semibold tx-spacing-1 ' value='" + data[i].Id+ "'>Build a Door</a></p>";
                    $("#CuerpoModal").html(HTML);
                    var HTMLImage = '<button type="button" class="close mg-t-15 mg-r-20" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>'+
                        '<img class="img-fluid rounded-right" alt="' + data[i].Material.Description + '" src="' + data[i].Picture + '"/>';
                    console.log(data[i].Picture);
                    $('#ModalImage').html(HTMLImage);
                }
            }
        }else{
            alert("lista vacia");}

    }
    </script>
}

