
@{
    ViewBag.Title = "Sing Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="#">Login</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Firstname: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" id="inptName" name="inptName"  placeholder="Enter firstname">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Lastname: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" id="inptLastName" name="inptLastName" placeholder="Enter lastname">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" id="inptEmail" name="inptEmail" placeholder="Enter email address">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-8">
                    <div class="form-group mg-b-10-force">
                        <label class="form-control-label">Mail Address: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" id="inptDirec" name="inptDirec" placeholder="Enter address">
                    </div>
                </div><!-- col-8 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
                        <select class="form-control select2" data-placeholder="Choose country">
                            <option label="Choose country"></option>
                            <option value="USA">United States of America</option>
                            <option value="UK">United Kingdom</option>
                            <option value="China">China</option>
                            <option value="Japan">Japan</option>
                        </select>
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Number: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="number" name="inptTelephone" id="inptTelephone" placeholder="Enter telephone number">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="password" name="password"  placeholder="Enter password">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="password" id="inptPassword" name="inptPassword" placeholder="Confirm password">
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->

            <div class="form-layout-footer">
                <button id="btNewUser" onclick="this.disabled=true" class="btn btn-info">Submit Form</button>
                <button onclick="location.href='@Url.Action("Index","Login")'" class="btn btn-secondary">Back</button>
            </div><!-- form-layout-footer -->
        </div>
    </div>
</div>

<div id="modalCongra" class="modal fade" onclick="location.href='@Url.Action("Index","Login")'" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" onclick="location.href='@Url.Action("Index","Login")'" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon ion-ios-checkmark-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-success tx-semibold mg-b-20">Congratulations! The creation of your user has been successful.</h4>
                <p class="mg-b-20 mg-x-20">A message has been sent to the email supplied with an activation code to complete your registration.</p>
                <button type="button" onclick="window.location.reload()" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div id="modalError" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                <h4 class="tx-danger  tx-semibold mg-b-20">Error: Cannot process your entry!</h4>
                <p class="mg-b-20 mg-x-20">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                <button type="button" class="btn btn-danger tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-b-20" data-dismiss="modal" aria-label="Close">
                    Continue
                </button>
            </div><!-- modal-body -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

@section scripts{

    <script type="text/javascript">
        var urlInsertUser = '@Url.Action("InsertUser", "Login")';
    </script>


    @Scripts.Render("~/Scripts/js/LoginSiginUp.js")
}