
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="br-pagebody">
    <div class="br-section-wrapper" style="margin-top: 100px;margin-left: 50px;margin-right: 50px;">
        <div class="modal-body pd-0">
            <div class="row no-gutters">
                <div id="login-div" class="col-lg-6 bg-white">
                    <div class="login_slider">
                        <div id="slider_login" class="carousel slide carousel-fade" data-ride="carousel">
                            <div id="login_inner" class="carousel-inner">

                                <div class="login_item1 carousel-item active">
                                    <div id="fondo_color_s">
                                        <div class="letras_slider">
                                            <h5>Build a Door</h5>
                                            <p>
                                                You can order the cabinet doors of your dreams with the specifications that suit your needs. Venus Doors manufactures both raise panel and flat panel custom style cabinet doors.
                                                <img style="width:100%" src="~/Content/img/Doors/Cabinet Vector-01.png" />
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="login_item2 carousel-item">
                                    <div id="fondo_color_s">
                                        <div class="letras_slider">
                                            <h5>Record time</h5>
                                            <p>
                                                We produce shaker style doors any size within a week. Our production level have reached 800 doors a day. We manufacture cabinet doors in many wood styles, including Poplar, Maple, Beech, Knotty Alder and Red Oak.
                                                <img style="width:100%" src="~/Content/img/Doors/Cabinet Vector-02.png" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="login_item3 carousel-item">
                                    <div id="fondo_color_s">
                                        <div class="letras_slider">
                                            <h5>Your Best Option</h5>
                                            <p>
                                                We at Venus cabinet doors offer you the best advice and service. We have become into a powerful mill-work processing and manufacturing company offering you always the best quality in cabinet doors.
                                                <img style="width:100%" src="~/Content/img/Doors/Cabinet Vector-07.png" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#slider_login" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>

                            <a class="carousel-control-next" href="#slider_login" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>


                    </div>
                </div>
                @*<div class="col-lg-6 bg-primary">
                        <div class="w3-content w3-section">
                            <img class="mySlides" src="~/Content/img/Cabinet Vector-01.png" style="width:100%">
                            <img class="mySlides" src="~/Content/img/Cabinet Vector-02.png" style="width:100%">
                            <img class="mySlides" src="~/Content/img/Cabinet Vector-03.png" style="width:100%">
                        </div>
                    </div>*@<!-- col-6 -->
                <div class="col-lg-6 bg-white" action="cucu.htm">

                    <div class="pd-30">
                        <div class="pd-x-30 pd-y-10">
                            <h3 class="tx-inverse mg-b-5">Welcome back!</h3>
                            <p>Sign in to your account to continue</p>
                            <br>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="userEmail form-control" id="intEmail" type="text">
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                                <label>Password</label>
                                <input class="UserPass form-control" id="intPassword" name="intPassword" type="password" onkeydown = "if (event.keyCode == 13)document.getElementById('ingresarbtn').click()">
                                <a href='@Url.Action("Recover_Password","Logins")'>forget your password?</a>                                
                            </div><!-- form-group -->
                            <div class="form-group mg-b-20">
                            </div>
                        </div><!-- form-group -->


                        <button id="ingresarbtn" onclick = "doSomething();" class="Cursor ingresar btn btn-primary pd-y-12 btn-block">Sign In</button>

                        <div class="mg-t-30 mg-b-20 tx-12">Don't have an account yet? @Html.ActionLink("Create one!", "sing_up", "Logins")</div>

                        @*<p class="tx-11 tx-uppercase tx-spacing-2">Or Sign In With</p>
                        <a href="#" class="btn btn-primary btn-icon">
                            <div><i class="fa fa-facebook"></i></div>
                        </a>
                        <a href="#" class="btn btn-info btn-icon mg-l-5">
                            <div><i class="fa fa-twitter"></i></div>
                        </a>
                        <a href="#" class="btn btn-danger btn-icon mg-l-5">
                            <div><i class="fa fa-google-plus"></i></div>
                        </a>*@

                    </div>
                </div><!-- col-6 -->
            </div><!-- row -->

        </div><!-- modal-body -->
    </div><!-- modal-content -->
</div><!-- modal-dialog -->


@section scripts{
    @Scripts.Render("~/Scripts/js/LoginSiginUp.js")
    <script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 5000); // Change image every 2 seconds
}

    function Enter(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        if (tecla == 13) {
            
        }
    }
</script>



    <script type="text/javascript">
        var urlAutherize = '@Url.Action("Autherize", "Logins")';
        var urlGetAllCompanys = '@Url.Action("GetAllCompany", "Logins")';
        var urlSingUp = '@Url.Action("sing_up", "Logins")';
        var urlRecoverPassword = '@Url.Action("Recover_Password", "Logins")';
    </script>
}