
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="#">Login</a>
        <span class="breadcrumb-item active">@ViewBag.Title</span>
    </nav>
</div><!-- br-pageheader -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11 pd-sm-bottom-30">
                        <h4 class="tx-gray-800 mg-b-5">@ViewBag.Title</h4>
                        <p class="mg-b-0">Enter your email and you will receive a message with a code that will allow you to make a new password.</p>
                    </div>
                </div>
            </div>
        </div>
            <div method="post" class="form-layout form-layout-1">
                <div class="row mg-b-25">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Email: </label>
                            <input required class="form-control" type="text" id="inptEmail" name="Email" placeholder="Enter email">
                        </div>
                    </div><!-- col-4 -->
                </div><!-- row -->

                <div class="form-layout-footer">
                    <button id="btSend" @*onclick="this.disabled=true"*@ class="Cursor btn btn-success">Send</button>
                    <button onclick="location.href='@Url.Action("Index","Logins")'" class="Cursor btn btn-secondary">Back</button>
                </div><!-- form-layout-footer -->
            </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">
        var urlRecoveryProcess = '@Url.Action("RecoveryProcess", "Logins")';
    </script>
    @*<script type="text/javascript">
           function validarFormulario(){
               $("#validate").validate(function() {
                   if ($('.RequiereLlenar').val() === '') {
                       $('#modalPrueba').modal('toggle');

                   } else {

                   }
               })
           }
           $(document).ready(function () {
               validarFormulario();
           });
    </script>
    <style type="text/number">
        .error {
            color: #f00;
        }
    </style>

    <script>
function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
}

function limpia() {
    var val = document.getElementById("miInput").value;
    var tam = val.length;
    for(i = 0; i < tam; i++) {
        if(!isNaN(val[i]))
            document.getElementById("miInput").value = '';
    }
}

function soloAndNumeros(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = "0123456789 abcdefghijklmnopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for (var i in especiales) {
        if (key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if (letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
}

    </script>*@

    @Scripts.Render("~/Scripts/js/PasswordRecovery.Logins.js")   
}
